[![imagenes](imagenes/pythonista.png)](https://pythonista.mx)

##  Particularidades los tipos de datos en Python.

### Tipos dinámicos.

Python es un lenguaje que no requiere que se defina el tipo de un objeto. El intérprete "infiere" el tipo de dato del que se trata.
    
### Fuertemente tipado.

Existen operaciones que no están permitidas entre tipos que no sean compatibles.

### Los tipos son clases.

En Python todos sus elementos son objetos y los datos una vez identificados, se convierten en objetos instanciados del tipo al que pertenecen.

## Tipos numéricos.

### Números enteros (```int```).

Python identifica a los número enteros como un tipo de dato el cual puede ser expresado de la siguiente manera. 

* Decimal: ```24```, ```60```.
* Binario: ```0b010011```, ```0b1101```. 
* Hexadecimal: ```0x18```, ```0x3cf4```.
* Octal: ``0o30``, ```0o74```.

Python 2 también identifica a un tipo llamado entero largo (```long```), al cual se le añade la letra ```L``` al final de número, pero ya no es reconocido por Python 3.

**Ejemplos:**

In [ ]:
24

In [ ]:
0b10001011

In [ ]:
0x5f2

In [ ]:
0o23

### Números de punto flotante (``float``).

Los objetos tipo ``float`` corresponden al conjunto de los números reales.

**Ejemplos:**

* ```3.141595``` 
* ```12.``` 
* ```-45.3556```

#### Precisión de los números flotantes.

Hay que tomar en cuenta de que la precisión de los números dependen en gran medida de la capacidad del equipo de cómputo, por lo que en ocasiones una operación con números de tipo float no dará el resultado exacto, sino una aproximación.

**Ejemplo:**

* La siguiente expresión da por resultado un número racional que corresponde a una suceción infinita del dígito ```6``` después del punto decimal.

In [ ]:
2.0/3.0

En este caso, es imposible para Python calcular una sucesión infinita de ```6``` y por ende truncó el número a 16 decimales.

### Números complejos (```complex```).

Los objetos de tipo ```complex``` corresponden al conjunto de los números complejos.

Siempre que el componente en los números reales sea distinto de ```0```, los objetos de tipo ```complex``` se expresarán como un par de números de tipo ```float``` separados por el operador de adición ```+```, en el que el primer número corresponde al componente en los números reales y el componente en los números imaginarios es identificado añadiéndole la letra ```j``` al final.

**Ejemplos:**

In [ ]:
1.323 - 1j

In [ ]:
12.4 + 0j

In [ ]:
15j

### Valores booleanos (```bool```).

El tipo ```bool``` es una especie de tipo numérico que es utilizado para evaluar expresiones lógicas.

* Si la expresión lógica es cierta, el resultado es ```True```.
* Si la expresión lógica NO es cierta, el resultado es ```False```.
* *False* equivale numéricamente a ```0```. 
* Cualquier otro valor no vacío equivale a ```True``` y su valor por defecto es ```1```.

**Ejemplos:**

In [ ]:
True

In [ ]:
False

## ```NoneType```.

El único objeto de este tipo es ```None``` y representa un valor nulo. 

Una expresión que de por resultado ```None``` no es desplegado por el intérprete.

**Ejemplo:**

* La siguiente celda incluye al objeto *None*, pero al ejecutarla, no se despliega nada.

In [ ]:
None

## Cadenas de caracteres.

Las cadenas de caracteres son una colección ordenada e indexable de caracteres y pueden estar vacías o contener un número indeterminado de caracteres.

### El tipo ``` str```.

El tipo más común para gestionar cadenas de caracteres es ```str```, el cual se define encerrando el texto entre comillas   ```"``` o apóstrofes ```'```. 

Python 3 soporta por defecto los caracteres definidos en la codificación *UTF-8* de *Unicode*.

**Ejemplos:**

In [ ]:
'Hola Mundo'

In [ ]:
"Vamos al McDonald's"

In [ ]:
'Kurt Friedrich Gödel'

### El tipo ```bytes```.

El tipo ```bytes``` es una colección ordenada e indexable de caracteres *ASCII*. 

El contenido de este tipo de caracteres se encierra entre apóstrofes y comillas, pero se antecede una letra ```b``` al principio del objeto.

**Ejemplos:**

* El siguiente es un ejemplo correcto de un objeto tipo ```bytes```.

In [ ]:
b'Hola'

* La siguiente celda define a un objeto tipo ```bytes``` que incluye un caracter inexistente en la tabla del código *ASCII* , lo cual desencadenará un error de tipo ```SyntaxError```.

In [ ]:
b'Kurt Friedrich Gödel'

## Colecciones.

Las colecciones permiten crear objetos que a su vez contienen a otros objetos. Dichos objetos pueden ser de distintos tipos. 

Además de los tipos ```str``` y ```bytes```, los cuales contienen caracteres, Python cuenta con los siguientes tipos de colecciones.

### El tipo ```list```.

Los objetos tipo ```list``` son colecciones ordenadas de objetos, los cuales son indexables numéricamente.

Se definen encerrando entre corchetes ```[``` ```]``` una sucesión de objetos separados por comas ```,```.

La sintaxis es la siguiente:

```
[<objeto 1>, <objeto 2>, ..., <objeto n>] 
```

**Ejemplos:**

* Las siguientes celdas también definen objetos tipo ```list``` válidos.

In [ ]:
[1, 2, "tres", True, None]

In [ ]:
[False, ['auto', 30, 'gasolina'], 73.12]

In [ ]:
[]

### El tipo ```tuple```.

Los objetos tipo ```tuple``` son colecciones ordenadas de objetos, los cuales son indexables numéricamente e inmutables.

Se definen encerrando entre paréntesis ```(``` ```)``` una sucesión de objetos separados por comas ```,```.

La sintaxis es la siguiente:

```
(<objeto 1>, <objeto 2>, ..., <objeto n>) 
```

**Ejemplos:**

* Las siguientes celdas también definen objetos tipo ```tuple``` válidos.

In [ ]:
(1, 2, "tres", True, None)

In [ ]:
(False, ['auto', 30, 'gasolina'], 73.12)

In [ ]:
()

### El tipo ```dict```.

El tipo ```dict``` es una colección de pares ```<clave>:<valor>``` separados por comas ```,``` y encerrados entre llaves ```{``` ```}```.

La sintaxis para definir un objeto tipo ```dict``` es: 

```
{<clave 1>:<valor 1>, <clave 2>:<valor 2>, ... , <clave n>:<valor n>} 
```

* La clave, a la cual también se le referirá como identificador, debe de ser de algún tipo inmutable y único dentro del objeto tipo ```dict```. 
* El valor puede ser un objeto de cualquier tipo y puede repetirse dentro del objeto de tipo ```dict```.

**Ejemplos:**

* Las siguientes celdas definen objetos tipo ```dict``` válidos.

In [ ]:
{'nulo':None, True:'V', 2:[1, 2, 3], '2':False, ('x', 'y'): 15.3}

In [ ]:
{'nombre':'Juan', 'apellido': 'Pérez', 'promedio':7.5}

In [ ]:
{}

* La siguiente celda definen un objeto tipo ```dict``` que repite al identificador ```nombre```. El último par es el que será conservado.

In [ ]:
{'nombre':'Juan', 'apellido': 'Pérez', 'promedio':7.5, 'nombre':'Laura'}

* La siguiente celda define a un objeto tipo ```dict``` ingresando como identificador al objeto ```[True, 1]``` el cual es mutable, lo cual desencadenará un error de tipo ```TypeError```.

In [ ]:
{'nombre':'Juan', 'apellido': 'Pérez', [True, 1]:7.5}

### El tipo ```set```.

Los objetos tipo ```set``` son conjuntos de objetos únicos. 

Este tipo de objetos sólo puede contener objetos inmutables.

Se definen encerrando entre llaves ```{``` ```}``` una sucesión de objetos separados por comas ```,```.

La sintaxis es la siguiente:

```
{objeto 1>,<objeto 2>, ..., <objeto n>} 
```

**Ejemplos:**

* En la siguiente celda se define un objeto de tipo ```set``` en donde ```1``` y  ```True``` tienen el mismo valor aunque no son del mismo tipo. En este caso, se desecha uno de estos objetos.

In [ ]:
{1, 2, "tres", True, None}

* Las siguientes celdas también definen objetos tipo ```set``` válidos.

In [ ]:
{False, ('auto', 30, 'gasolina'), 73.12}

In [ ]:
{}

* La siguiente celda define a un objeto de tipo ```set``` que incluye a un objeto de tipo ```list```, el cual es mutable, lo cual desencadenará un error de tipo ```TypeError``

In [ ]:
{False, ['auto', 30, 'gasolina'], 73.12}

### El tipo ```frozenset```.

Los objetos tipo ```frozenset``` son conjuntos inmutables de objetos únicos.  

Este tipo de objetos sólo puede contener objetos inmutables.

Se definen utilizando la función  ```frozenset()``` una sucesión de objetos separados por comas.

La sintaxis es la siguiente:

```
frozenset(<colección>) 
```

* La función ```frozenset()``` puede aceptar los siguientes tipos de objetos, siempre y cuando contengan objetos inmutables.
    * ```str```.
    * ```bytes```.
    * ```list```.
    * ```tuple```.
    * ```dict```.
    * ```set```.

**Ejemplos:**

* Las siguientes celdas defienen objetos tipo ```frozenset``` válidos.

* En el caso de los objetos ```str``` y ```bytes```, la función ```frozenset()``` identfificará a cada caracter como un elemento de la colección.

In [ ]:
frozenset('Hola')

In [ ]:
frozenset(b'Hola')

In [ ]:
frozenset([1, 2, 3])

In [ ]:
frozenset((1, 2, 3))

In [ ]:
frozenset({1, 2, 3})

In [ ]:
frozenset({'nombre': 'Juan', 'apellido': 'Pérez'})

In [ ]:
frozenset((False, ('auto', 30, 'gasolina'), 73.12))

* La siguiente celda contiene al elemento ```['auto', 30, 'gasolina']``` el cual es mutable, lo cual desencadenará un error de tipo ```TypeError```.

In [ ]:
frozenset((False, ['auto', 30, 'gasolina'], 73.12))

* La siguiente celda no contiene a una colección sino a una secuenca de elementos, por lo que se desencanará un error de tipo ```TypeError```.

In [ ]:
frozenset(False, ('auto', 30, 'gasolina'), 73.12)

## Indexado de colecciones.

Los siguientes tipos permiten identificar a cada elemento que contienen mediante un índice

* ```str```.
* ```bytes```.
* ```list```.
* ```tuple```.
* ```dict```.

La sintaxis es la siguiente:

```
<objeto>[<índice>]
```

### Indexado numérico.

**Ejemplos:**

In [ ]:
'saludo'[2]

In [ ]:
b'saludo'[-2]

In [ ]:
lista = [1, 2, 3, 4]

In [ ]:
lista[1]

In [ ]:
lista[-3]

In [ ]:
tupla = (1, [4, True, None, 'Saludo'], 6, 22.5)

In [ ]:
tupla[0]

In [ ]:
tupla[-3]

### Indexado mediante la clave.

**Ejemplo:**

In [ ]:
persona = {'nombre': 'Juan', 'primer apellido': 'Pérez', 'promedio':7.8}

In [ ]:
persona['promedio']

In [ ]:
persona['nombre']

###  Indíces anidados.

**Ejemplos:**

In [ ]:
tupla

In [ ]:
tupla[1]

In [ ]:
tupla[1][3]

In [ ]:
tupla[1][-1][2]

In [ ]:
persona

In [ ]:
persona[apellido]

In [ ]:
persona['apellido'][2]

### Rebanado.

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
lista[2:5]

In [ ]:
'Buen día'[2:]

In [ ]:
(None, 4.015, True, 7, 'sombrero', ['uno', 'dos'], ())[:2]

In [ ]:
lista[:]

In [ ]:
lista[2:4] = 'Verdadero', 15

In [ ]:
lista

In [ ]:
del lista[4:]

In [ ]:
lista

## Mutabilidad.

**Ejemplos:**

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
lista[0] = 'uno'

In [ ]:
lista

In [ ]:
del lista[5]

In [ ]:
lista

In [ ]:
persona = {'nombre': 'Juan', 'primer apellido': 'Pérez', 'promedio': 7.8}

In [ ]:
del persona['promedio']

In [ ]:
persona

In [ ]:
persona['nombre'] = 'Julia'

In [ ]:
persona

In [ ]:
tupla = (None, 4.015, True, 7, 'sombrero', ['uno', 'dos'], ())

In [ ]:
tupla[2] = 0

In [ ]:
del tupla[5]

In [ ]:
tupla

In [ ]:
tupla[-2]

In [ ]:
tupla[-2][0] = 3

In [ ]:
tupla

In [ ]:
del tupla[-2][:]

In [ ]:
tupla

## Funciones relativas a tipos de datos.

### La función ```type()```.

La función ```type()``` regresa el tipo de dato o clase a la que pertenece un objeto el cual es ingresado como argumento con la siguiente sintaxis:

```
type(<objeto>)
```

**Ejemplos:**

* Las siguientes celdas utlizarán la función ```type()``` para conocer el tipo de datos del que se trata.

In [ ]:
type("Hola")

In [ ]:
type(b"Hola")

In [ ]:
type(12)

In [ ]:
type(12.)

In [ ]:
type(23j)

In [ ]:
type(True)

In [ ]:
type([1, 2, 3])

In [ ]:
type((1, 2, 3))

In [ ]:
type({1, 2, 3})

In [ ]:
type({'uno': '1'})

In [ ]:
type(None)

### La función ```int()```.

Esta función transforma un objeto compatible que es ingresado como argumento a un objeto tipo ```int```. 
 
La sintaxis es la siguiente:

```
int(<objeto>)
```

* Es posible convertir objetos de tipo ```str``` que representen correctamente a un número entero.
* Los objetos de tipo ```float``` son truncados en la parte entera. 
* ```True``` es convertido en ```1```.
* ```False``` es convertido en ```0```. 
* La función ```int()``` es compatible con objetos tipo ```complex```.

**Ejemplos:**

* La siguiente celda convertirá en un objeto ```int``` al objeto de tipo ```bool``` que se ingresa como argumento.

In [ ]:
int(True)

* El argumento de la siguiente celda contiene una representación correcta de un entero negativo, por lo que la función ```int()``` podrá realizar la conversión correctamente.

In [ ]:
int("-12")

* El argumento de la siguiente celda contiene una representación correcta de un número real, por lo que la función ```int()``` no podrá realizar la conversión correctamente y regresará un error de tipo ```ValueError```.

In [ ]:
int("28.8")

In [ ]:
int(b"12")

* El argumento de la siguiente celda no contiene una representación correcta de un número entero, por lo que la función ```int()``` será incapaz de realizar la conversión y desencadenará un error de tipo ```ValueError```.

In [ ]:
int('Hola')

* Los argumentos de las siguiente celdas contienen objetos tipo ```float```, por lo que la función ```int()``` truncará el valor a enteros.

In [ ]:
int(5.6)

In [ ]:
int(-5.3)

* Los argumentos de las siguientes celdas son objetos de tipo ```complex```, por lo que la función ```int()``` será incapaz de realizar la conversión y desencadenará un error de tipo ```TypeError```.

In [ ]:
int(12 + 45.2j)

In [ ]:
int(-5j)

* El argumento de la siguiente celda es ```None```, el cual no puede ser representado por algún valor numérico, lo que desencadenará un error de tipo ```TypeError```.

In [ ]:
int(None)

### La función ```float()```. 

Transforma a un objeto de tipo compatible que se ingrese como argumento a uno de tipo ```float```.

La sintaxis es la siguiente:

```
float(<objeto>)
```

* Puede convertir objetos de tipo ```str``` que contengan una representación correcta a un número real.
* Es compatible con los objetos tipo ```int```.
* ```True``` es convertido en ```1.0```
* ```False``` es convertido en ```0.0```. 
* No es compatible con objetos tipo ```complex```.

**Ejemplos:**

* El argumento de la siguiente celda contiene una representación correcta de un número real, por lo que la función ```float()``` podrá realizar la conversión correctamente.

In [ ]:
float("-12.6")

* El argumento de la siguiente celda no contiene una representación correcta de un número, por lo que la función ```float()``` será incapaz de realizar la conversión y desencadenará un error de tipo ```ValueError```.

In [ ]:
float('Hola')

* El argumento de la siguiente celda es un objeto de tipo ```int```, por lo que la función ```float()``` será capaz de realizar la conversión.

In [ ]:
float(-5)

* El argumento de la siguiente celda es un objeto de tipo ```complex```, por lo que la función ```float()``` será incapaz de realizar la conversión y desencadenará un error de tipo ```TypeError```.

In [ ]:
float(12.5 + 33j)

In [ ]:
float(False)

In [ ]:
float(None)

### La función ```complex()```.

Transforma a un objeto compatible a uno de tipo ```complex```.

* Convierte objetos de tipo ```str``` que contengan representen correctamente a un número real.
* Transforma en un objeto de tipo ```complex``` a un par de números ya sean ```int``` o ```float```. 
* Si sólo se da un número ```int``` o ```float```, este será identificado como el componente real y el componente complejo será ```0j```.

**Ejemplos:**

In [ ]:
complex(3.5, 2)

In [ ]:
complex(8.3)

In [ ]:
complex("23+5j")

In [ ]:
complex("23")

In [ ]:
complex("23 + 5j")

### La función ```bool()```.

Transforma en booleano a un objeto. 

* El ```0``` equivale a ```False```.
* El valor```None``` equivale a ```False```.
* Una colección vacía equivale a ```False``
* Cualquier otra cosa distinta es ```True```.
*

**Ejemplos:**

In [ ]:
bool(-3)

In [ ]:
bool(2)

In [ ]:
bool((12, 4, 78))

In [ ]:
bool("Hola")

In [ ]:
bool("0")

In [ ]:
bool(0)

In [ ]:
bool("")

In [ ]:
bool({})

In [ ]:
bool(None)

### La función ```str()```.

Transforma a un objeto que es ingresados como argumento en una cadena de caracteres de tipo ```str````.

La sintaxis es la siguiente:

```
str(<objeto>)
```

Prácticamente todos los objetos pueden ser transformados en una cadena de caracteres.

**Ejemplos:**

* Las siguientes celdas transformarán un objeto a ```str```.

In [ ]:
str(True)

In [ ]:
str(12 + 3.5j)

In [ ]:
str({'nombre': 'Juan'})

In [ ]:
str(b'Saludos')

### La función ```bytes()```.

In [ ]:
bytes('Saludos', encoding='utf-8')

In [ ]:
bytes(6)

In [ ]:
bytes(True)

In [ ]:
bytes(False)

In [ ]:
bytes(-1.4)

In [ ]:
bytes(12 + 3.5j)

In [ ]:
bytes({'nombre': 'Juan'})

### La función ```list()```.

### La función ```tuple()```.

### La función ```set()```.

### La función ```dict()```.

## Expresiones con operadores.

Los operadores son signos o palabras reservadas que el intérprete de Python identifica dentro de sus sintaxis para realizar una acción (operación) específica.

```
<objeto 1> <operador> <objeto 2>
```

### Operadores aritméticos.


|Operador|Descripción|
|:------:|:---------:|
|*+*       |Suma       |
|*-* 	     |Resta      |
|*-*       |Negativo   |
|*\**      |Multiplicación|
|_\*\*_ 	 |Exponente  |
|*/* 	     |División   |
|*//*      |División entera|
|*%*       |Residuo    |

**Nota:** Aún cuando no afecta a la sintaxis, el uso de espacios entre los operadores aritméticos mejora la comprensión de las operaciones. Para mayor referencia remitirse al PEP-8.

**Ejemplos:**

In [ ]:
3 / 4

In [ ]:
10 / 5

#### División entre enteros en Python 2.

En  Python 3 las divisiones entre objetos de tipo *int* dan como resultado un objeto de tipo *float*. En Python 2 las divisiones entre objetos de tipo *int* dan por resultado la parte entera de la división.

**Ejemplos:**

``` python
>>> 3 / 4
0
>>> 10 / 5
2
>>>
```

### Reglas de precedencia en operaciones aritméticas.

Los operadores se apegan a la siguiente regla de precedencia siguiendo una secuencia de izquierda a derecha:

1 Paréntesis.
2. Exponente.
3. Multiplicación.
4. División.
5. Suma.
6. Sustracción.

**Ejemplos:**

In [ ]:
12 * 5 + 2 / 3 ** 2

In [ ]:
(12 * 5) + (2 / (3 ** 2))

In [ ]:
(12 * 5) + (2 / 3) ** 2

In [ ]:
(12 * (5 + 2) / 3) ** 2

### Operadores para objetos de tipo *str*.


|Operador|Descripción|
|:------:|:---------:|
|*+*     |Concatenación|
|_*_   |Repetición|

**Ejemplos**

In [ ]:
"hola" + "mundo"

In [ ]:
'hola' + 3

In [ ]:
'hola' * 3

In [ ]:
'hola' * "3"

### Operadores de asignación.

Los operadores de asignación se utilizan para enlazar un objeto/valor con un nombre. 

|Operador|Descripción|Ejemplo|
|:------:|:---------:|:-----:|
|*=*    |Asignación simple|*x = y*|
|*+=*   |Suma             |*x += y* equivale a *x = x + y*|
|*-=*   |Resta 	          |*x -= y* equivale a *x = x - y*|
|_\*=_  |Multiplicación   |_x \*= y_ equivale a _x = x \* y_|
|_\*\*=_|Exponente        |_x \*\* = y_ equivale a _x = x \*\* y_|
|*/=* 	|División 	      |*x /= y* equivale a *x = x / y*|
|*//=* 	|División entera  |*x //= y* equivale a *x = x // y*|
|*%=* 	|Residuo de división|*x %= y* equivale a *x = x % y*|

**Ejemplos:**

In [ ]:
x = 2
x += 3
x

In [ ]:
y = 2
y **= 3
y

In [ ]:
cadena = 'Hola'
cadena *= 3
cadena

## Expresiones lógicas.

### Operadores de relación. 

Los operadores de relación evalúan si dos valores/objetos cumplen con una condición específica. El resultado de esta evaluación es un objeto de tipo *bool*.

|Operador|Evalúa          |
|:------:|:---------------|
|*==*    |*a == b* ¿a igual a b?|
|*!=* 	 |*a != b* ¿a distinta de b?|
|*>*     |*a > b* ¿a mayor que b?|
|*<* 	 |*a < b* ¿a menor que b?|
|*>=*    |*a >= b* ¿a mayor o igual que b?|
|*<=*    |*a <= b* ¿a menor o igual que b?|

**Ejemplos:**

In [ ]:
"hola" == 'hola'

In [ ]:
"hola" != 'Hola'

In [ ]:
5 > 3

In [ ]:
5 <= 3

In [ ]:
2 * 9 ** 0.5 == 6

In [ ]:
(2 * 9) ** 0.5 == 6

### Operadores de identidad.

Los operadores *is* e *is not* evalúan si un identificador se refiere exactamente al mismo objeto o pertenece a un tipo.

|Operador 	|Evalúa|
|:---------:|:----:|
|*is*       |*a is b* Equivale a *id(a) == id(b)*|
|*is not*   |*a is not b* Equivale a *id(a) != id(b)*|

**Ejemplos:**

In [ ]:
a = 45
b = 45

In [ ]:
a is b

In [ ]:
type("Hola") is str

In [ ]:
type("Hola") is not complex

In [ ]:
True == 1

In [ ]:
True is 1

### Operadores de pertenencia.

Los operadores *in* y *not in* evalúan si un objeto se encuentra dentro de otro.


**Ejemplos:**

In [ ]:
'a' in 'Hola'

In [ ]:
'z' in 'Hola'

In [ ]:
'la' not in 'Hola'

In [ ]:
'z' not in 'Hola'

### Álgebra booleana y tablas de la verdad.

Las siguientes tablas muestran los reaultados de los operadores lógicos *or* y *and* dependiendo de los valores booleanos que se utilicen.


|OR| True|False|
|:--:|:--:|:--:|
|**True**|True|True|
|**False**|True|False|

|XOR| True|False|
|:--:|:--:|:--:|
|**True**|False|False|
|**False**|False|True|

|AND| True|False|
|:--:|:--:|:--:|
|**True**|True|False|
|**False**|False|False|

### Operadores lógicos.

Estos operadores permiten la realización de las siguientes operaciones lógicas. Por lo general se realizan con objetos de tipo *bool*, pero Python también permite operaciones lógicas con otros tipos de datos. 

|Operador|Evalúa|
|:------:|:----:|
|*or*    |*a or b* ¿Se cumplen a o b?|
|*and* 	 |*a and b* ¿Se comple a y b?|
|*not*   |*not x* Contrario a x|

**Ejemplos:**

In [ ]:
True or True

In [ ]:
False or True

In [ ]:
False or False

In [ ]:
15 == 3 or False

In [ ]:
15 > 3 and 15 <= 20

In [ ]:
True and 0

In [ ]:
bool(True and 0)

In [ ]:
'Hola' and 123

In [ ]:
123 and 'Hola'

In [ ]:
bool('Hola' and 123)

In [ ]:
False and False

In [ ]:
not True

In [ ]:
not False or True

In [ ]:
not (False or True)

In [ ]:
None or False

## Operadores de bits.

Las operaciones de bits son cálculos que implican a cada bit que conforma a un número representado de forma binaria.


|Operador    | Descripción |
|:----------:|:-----------:|
| \||OR    |
| *^* | XOR    |
| *&* | AND    |  
| *<<* | Mover x bits a la izquierda  |
| *>>* | Mover x bits a la iderecha   |

|||1|0|
|:--:|:--:|:--:|
|**1**|1|1|
|**0**|1|0|

|^|1|0|
|:--:|:--:|:--:|
|**1**|0|0|
|**0**|0|1|

|&|1|0|
|:--:|:--:|:--:|
|**1**|1|0|
|**0**|0|0|

In [ ]:
a = 0b01101
b = 0b11010

In [ ]:
a

In [ ]:
b

In [ ]:
a | b

```
a = 01101
b = 11010
|   ______
    11111

```

In [ ]:
0b11111

In [ ]:
a ^ b

```
a = 01101
b = 11010
^  ______
    10111

```

In [ ]:
a & b

```
a = 01101
b = 11010
&   ______
    01000

```

In [ ]:
0b01000

In [ ]:
0b10111

In [ ]:
a << 3

```
a = 01101
a << 3
01101000
```

In [ ]:
0b01101000

In [ ]:
b >> 2

```
b = 11010
b >> 2
110
```

In [ ]:
0b110

### Operadores binarios con objetos de tipo *bool*.

In [ ]:
True | False

In [ ]:
True & False

In [ ]:
True ^ False

In [ ]:
True >> 2

In [ ]:
True << 4

## Operador ternario.

El operador ternario evalúa una expresión lógica con una sintaxis como la que se describe a continuación.

```
<expresión 1> if <expresión lógica> else <expresión 2>

```
* En caso de que el resultado de la expresión lógica sea *True*, se ejecutará la expresión a la izquierda del *if*.
* En caso de que el resultado de la expresión lógica sea *False*, se ejecutará la expresión a la derecha del *else*.

**Ejemplo:**

* El residuo de dividir un número pare entre 2 es 0.

In [ ]:
numero = 1124

In [ ]:
numero % 2

In [ ]:
numero % 2 == 0

* La siguiente expresión utiliza un operador ternario que regresa la cadena de caracteres *"par"* en caso de que el objeto con nombre *numero* sea divisible entre 2 o rergesará la cadena d ecaracteres "non" en caso contrario.

In [ ]:
"par" if numero % 2 == 0 else "non"

## La función _eval()_.

La función _eval()_ evalúa un objeto de tipo _str_ como si fuera una expresión.

```
eval(<objeto tipo str>)
```

Si el texto a evaluar no es una expresión válida, _eval()_ generará un mensaje de error.

**Ejemplos:**

In [ ]:
eval("12 * 300")

In [ ]:
eval("0x11 + 0x10010")

In [ ]:
eval("12 > 5")

In [ ]:
eval("type('Hola')")

In [ ]:
numero = 4
eval("numero * 3")

In [ ]:
eval("Hola Mundo")

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2019.</p>