[![imagenes](imagenes/pythonista.png)](https://pythonista.io)

##  Particularidades los tipos de datos en Python.

### Tipos dinámicos.

Python es un lenguaje que no requiere que se defina el tipo de un objeto. El intérprete "infiere" el tipo de dato del que se trata.
    
### Fuertemente tipado.

Existen operaciones que no están permitidas entre tipos que no sean compatibles.

### Los tipos son clases.

En Python todos sus elementos son objetos y los datos una vez identificados, se convierten en objetos instanciados del tipo al que pertenecen.

## Tabla de tipos de datos básicos de Python 3.

|Tipo de dato|Colección|Indexable|Mutable|Contenido|Ejemplo|
|:-----------:|:--:|:--:|:--:|:----:|:-----|
|```int```|NO|NO|NO|Números enteros|```-12```|
|```float```|NO|NO|NO|Números de punto flotante|```4.361```|
|```complex```|NO|NO|NO|Números complejos|```(41.6-11.3j)```|
|```bool```|NO|NO|NO|Valores booleanos|```True```|
|```NoneType```|NO|NO|NO|Sin valor|```None```|
|```str```|SÍ|SÍ|NO|Caracteres Unicode|```'Gödel'```|
|```bytes```|SÍ|SÍ|NO|Caracteres ASCII|```b'Hola'```|
|```list```|SÍ|SÍ|SÍ|Cualquier objeto|```[1, 2.0, 'Tres']```|
|```tuple```|SÍ|SÍ|NO|Cualquier objeto|```(1, 2.0, 'Tres')```|
|```dict```|SÍ|SÍ|SÍ|Pares *clave:valor*|```{'nombre':'Juan', 'promedio':10}```|
|```set```|SÍ|NO|SÍ|Objetos inmutables|```{1, False, 'María'}```|
|```frozenset```|SÍ|NO|NO|Objetos inmutables|```frozenset({{1, False, 'María'})```|

## Tipos numéricos.

### Números enteros (```int```).

Python identifica a los número enteros como un tipo de dato el cual puede ser expresado de la siguiente manera. 

* Decimal: ```24```, ```60```.
* Binario: ```0b010011```, ```0b1101```. 
* Hexadecimal: ```0x18```, ```0x3cf4```.
* Octal: ``0o30``, ```0o74```.

Python 2 también identifica a un tipo llamado entero largo (```long```), al cual se le añade la letra ```L``` al final de número, pero ya no es reconocido por Python 3.

**Ejemplos:**

* La siguiente celda define al número ```24```.

In [ ]:
24

* La siguiente celda define al número ```139``` en formato binario.

In [ ]:
0b10001011

* La siguiente celda define al número ```1522``` en formato hexadecimal.

In [ ]:
0x5f2

* La siguiente celda define al número ```159``` en formato octal.

In [ ]:
0o237

### Números de punto flotante (``float``).

Los objetos tipo ``float`` corresponden al conjunto de los números reales.

**Ejemplos:**

* ```3.141595``` 
* ```12.``` 
* ```-45.3556```

#### Precisión de los números flotantes.

Hay que tomar en cuenta de que la precisión de los números dependen en gran medida de la capacidad del equipo de cómputo, por lo que en ocasiones una operación con números de tipo float no dará el resultado exacto, sino una aproximación.

**Ejemplo:**

* La siguiente expresión da por resultado un número racional que corresponde a una suceción infinita del dígito ```6``` después del punto decimal.

In [ ]:
2.0/3.0

En este caso, es imposible para Python calcular una sucesión infinita de ```6``` y por ende truncó el número a 16 decimales.

### Números complejos (```complex```).

Los objetos de tipo ```complex``` corresponden al conjunto de los números complejos.

Siempre que el componente en los números reales sea distinto de ```0```, los objetos de tipo ```complex``` se expresarán como un par de números de tipo ```float``` separados por el operador de adición ```+```, en el que el primer número corresponde al componente en los números reales y el componente en los números imaginarios es identificado añadiéndole la letra ```j``` al final.

La sintaxis estricta es la siguiente:

```
(<valor numérico del componente real>+<valor numérico del componente imaginario>j)
```
o
```
(<valor numérico del componente real>-<valor numérico del componente imaginario>j)
```

**Ejemplos:**

In [ ]:
(2+5j)

In [ ]:
1.323 - 1j

In [ ]:
-2.9j - 23.03

In [ ]:
12.4 + 0j

In [ ]:
15j

## Tipos booleanos (```bool```).

El tipo ```bool``` es una especie de tipo numérico que es utilizado para evaluar expresiones lógicas y tiene dos valores: ```True``` y ```False```.

* Si la expresión lógica es cierta, el resultado es ```True```.
* Si la expresión lógica NO es cierta, el resultado es ```False```.
* *False* equivale numéricamente a ```0```. 
* Cualquier otro valor no vacío equivale a ```True``` y su valor por defecto es ```1```.

**Ejemplos:**

In [ ]:
True

In [ ]:
False

## ```NoneType```.

El único objeto de este tipo es ```None``` y representa un valor nulo. 

Una expresión que de por resultado ```None``` no es desplegado por el intérprete.

**Ejemplo:**

* La siguiente celda incluye al objeto *None*, pero al ejecutarla, no se despliega nada.

In [ ]:
None

## Colecciones.

Las colecciones permiten crear objetos que a su vez pueden contener a otros objetos.

Python 3 cuenta con los siguientes tipos de colecciones.

* ```str```.
* ```bytes```.
* ```list```.
* ```tuple```.
* ```dict```.
* ```set```.
* ```frozenset```.

### El tipo ``` str```.

Las cadenas de caracteres son colecciones ordenadas, indexables numéricamente e inmutables de caracteres. 

El tipo más común de cadenas de caracteres es ```str```, el cual se define encerrando el texto entre comillas   ```"``` o apóstrofes ```'```. 

Cualquiera de las siguientes sintaxis es válida:

```
"<texto>"
'<texto>'
```

Python 3 soporta por defecto los caracteres definidos en la codificación *UTF-8* de *Unicode*.

**Ejemplos:**

In [ ]:
'Hola Mundo'

In [ ]:
"Vamos al McDonald's"

In [ ]:
'Kurt Friedrich Gödel'

* La siguiente celda, definirá a un objeto ```str``` vacío.

In [ ]:
''

### El tipo ```bytes```.

El tipo ```bytes``` es una colección ordenada e indexable numéricamente de caracteres *ASCII*. 

El contenido de este tipo de caracteres se encierra entre apóstrofes y comillas, pero se antecede una letra ```b``` al principio del objeto.


Cualquiera de las siguientes sintaxis es válida:

```
b"<texto>"
b'<texto>'
```

**Ejemplos:**

* Las siguiente celdas son ejemplos correctos de objetos tipo ```bytes```.

In [ ]:
b'Hola'

* La siguiente celda, definirá a un objeto ```bytes``` vacío.

In [ ]:
b''

* La siguiente celda define a un objeto tipo ```bytes``` que incluye un caracter inexistente en la tabla del código *ASCII* , lo cual desencadenará un error de tipo ```SyntaxError```.

In [ ]:
b'Kurt Friedrich Gödel'

### El tipo ```list```.

Los objetos tipo ```list``` son colecciones ordenadas de objetos, los cuales son indexables numéricamente y son mutables.

Se definen encerrando entre corchetes ```[``` ```]``` una sucesión de objetos separados por comas ```,```.

La sintaxis es la siguiente:

```
[<objeto 1>, <objeto 2>, ..., <objeto n>] 
```

**Ejemplos:**

* Las siguientes celdas definen objetos tipo ```list``` válidos.

In [ ]:
[1, 2, "tres", True, None]

In [ ]:
[None]

* La siguiente celda define a un objetos tipo ```list``` que a su vez contiene a otro objeto de tipo ```list```.

In [ ]:
[False, ['auto', 30, 'gasolina'], 73.12]

* La siguiente celda define a un objeto tipo ```list``` vacío.

In [ ]:
[]

### El tipo ```tuple```.

Los objetos tipo ```tuple``` son colecciones ordenadas de objetos, los cuales son indexables numéricamente e inmutables.

Se definen encerrando entre paréntesis ```(``` ```)``` una sucesión de objetos separados por comas ```,```.

La sintaxis es la siguiente:

```
(<objeto 1>, <objeto 2>, ..., <objeto n>) 
```

**Ejemplos:**

* Las siguientes celdas también definen objetos tipo ```tuple``` válidos.

In [ ]:
(1, 2, "tres", True, None)

* La siguiente celda define a un objetos tipo ```tuple``` que a su vez contiene a otro objeto de tipo ```list```.

In [ ]:
(False, ['auto', 30, 'gasolina'], 73.12)

* La siguiente celda define a un objeto tipo ```tuple``` vacío.

In [ ]:
()

**NOTA:** 

Un objeto de tipo ```tuple``` que solo contiene un elemento ```None``` se convierte en ``Ǹone```

In [ ]:
(None)

Para crear un objeto ```tuple``` que contenga un elemento ```None``` que contenga un elemento ```None``` se debe de poner una coma ```,``` al final.

In [ ]:
(None,)

### El tipo ```dict```.

El tipo ```dict``` es una colección mutable de pares *clave:valor* indexable mediante la clave de cada elemento.
    
Los pares están separados por comas ```,``` y delimitados por llaves ```{``` ```}```.

La sintaxis para definir un objeto tipo ```dict``` es: 

```
{<clave 1>:<valor 1>, <clave 2>:<valor 2>, ... , <clave n>:<valor n>} 
```

* La clave, a la cual también se le referirá como identificador, debe de ser de algún tipo inmutable y único dentro del objeto tipo ```dict```. 
* El valor puede ser un objeto de cualquier tipo y puede repetirse dentro del objeto de tipo ```dict```.

**NOTA:** Los objetos de tipo ```dict``` no  siempre respetan el orden en el que los elementos son ingresados.

**Ejemplos:**

* Las siguientes celdas definen objetos tipo ```dict``` válidos.

In [ ]:
{'nulo':None, True:'V', 2:[1, 2, 3], '2':False, ('x', 'y'): 15.3}

In [ ]:
{'nombre':'Juan', 'apellido': 'Pérez', 'promedio':7.5}

* La siguiente celda define un objeto tipo ```dict```vacio.

In [ ]:
{}

* La siguiente celda definen un objeto tipo ```dict``` que repite al identificador ```nombre```. El último par es el que será conservado.

In [ ]:
{'nombre':'Juan', 'apellido': 'Pérez', 'promedio':7.5, 'nombre':'Laura'}

* La siguiente celda define a un objeto tipo ```dict``` ingresando como identificador al objeto ```[True, 1]``` de tipo ```list```el cual es mutable, lo cual desencadenará un error de tipo ```TypeError```.

In [ ]:
{'nombre':'Juan', 'apellido': 'Pérez', [True, 1]:7.5}

### El tipo ```set```.

Los objetos de tipo ```set``` son colecciones de objetos capaces de realizar operaciones de conjuntos. Aún cuando los objetos ```set``` son mutables, los elementos contenidos en ellos son únicos e inmutables. 

Los objetos de tipo ```set``` se definen encerrando entre llaves ```{``` ```}``` una sucesión de objetos separados por comas ```,```.

La sintaxis es la siguiente:

```
{<objeto 1>,<objeto 2>, ..., <objeto n>} 
```

En caso de que se definan varios elementos del mismo valor, sólo se conservará uno.

**NOTA:** Los objetos de tipo ```set``` no  siempre respetan el orden en el que los elementos son ingresados.

**Ejemplos:**

* Las siguientes celdas definen objetos tipo ```set``` válidos.

In [ ]:
{False, ('auto', 30, 'gasolina'), 73.12}

* La siguiente celda define un objeto tipo ```set``` que incluye varios elementos de valor numérico equivalente a ```3``` aún cuando no son del mismo tipo y también se incluye el objeto ```'3'```, el cual no es un valor numérico, sino un caracter.

In [ ]:
{3, 2, True, None, 0, False, 3.0, 5, 3., '3', 'Hola', 3, 3}

* En la siguiente celda se define un objeto de tipo ```set``` en donde ```1``` y  ```True``` tienen el mismo valor aunque no son del mismo tipo. En este caso, se desecha uno de estos objetos.

In [ ]:
{1, 2, "tres", True, None}

* La siguiente celda define a un objeto de tipo ```set``` que incluye a un objeto de tipo ```list```, el cual es mutable, lo cual desencadenará un error de tipo ```TypeError```.

In [ ]:
{False, ['auto', 30, 'gasolina'], 73.12}

* La siguiente celda define a un objeto de tipo ```set``` que incluye a un objeto de tipo ```dict```, el cual es mutable, lo cual desencadenará un error de tipo ```TypeError```.

In [ ]:
{None, {'uno':1, 'dos': 2}}

### El tipo ```frozenset```.

Los objetos tipo ```frozenset``` son conjuntos inmutables de objetos únicos.  

Este tipo de objetos sólo puede contener objetos inmutables.

Se definen utilizando la función  ```frozenset()``` e ingresando una colección como argumento.

La sintaxis es la siguiente:

```
frozenset(<colección>) 
```

* La función ```frozenset()``` puede aceptar los siguientes tipos de objetos, siempre y cuando contengan exclusivamente objetos inmutables.

    * ```set```.
    * ```list```.
    * ```tuple```.
    * En el caso de los objetos de  ```dict```, se toma exclusivamente a las claves para formar el objeto.
    * En el caso de los objetos de tipo ```str``` y ```bytes```, cada caracter de la cadena se vuelve un elemento separado.
    
**NOTA:** Los objetos de tipo ```dict``` no  siempre respetan el orden en el que los elementos son ingresados.

**Ejemplos:**

* Las siguientes celdas defienen objetos tipo ```frozenset``` válidos.

* La siguiente celda separará cada caracter del objeto  ```'Caracoles'``` y creará un conjunto de caracteres únicos.

In [11]:
frozenset('Caracoles')

frozenset({'C', 'a', 'c', 'e', 'l', 'o', 'r', 's'})

* La siguiente celda separará cada caracter del objeto  ```b'Caracoles'``` y creará un conjunto de valores enteros únicos. Cada valor corresponde a la posición de cada caracter en el código ASCII.

In [10]:
frozenset(b'Caracoles')

frozenset({67, 97, 99, 101, 108, 111, 114, 115})

In [ ]:
frozenset([1, 2, 3])

In [ ]:
frozenset((1, 2, 3))

In [ ]:
frozenset({1, 2, 3})

In [ ]:
frozenset({'nombre': 'Juan', 'apellido': 'Pérez'})

In [ ]:
frozenset((False, ('auto', 30, 'gasolina'), 73.12))

In [ ]:
frozenset({})

* La siguiente celda contiene al elemento ```['auto', 30, 'gasolina']``` de tipo ```list``` el cual es mutable, lo cual desencadenará un error de tipo ```TypeError```.

In [ ]:
frozenset((False, ['auto', 30, 'gasolina'], 73.12))

* La siguiente celda no contiene a una colección sino a una secuencia de elementos, por lo que se desencadenará un error de tipo ```TypeError```.

In [ ]:
frozenset(False, 'auto', 30, 'gasolina', 73.12)

## La función ```len()```.

Esta función permite conocer el número de elementos (el tamaño) que contiene una colección.

```
len(<colección>)
```

**Ejemplos:**

* Las siguientes celdas regresarán el tamaño de cada objeto que es ingresado como argumento.

In [ ]:
len('Hola')

* En el siguiente caso, el objeto ```[3, 4 , 6]``` cuenta como un solo elemento.

In [ ]:
len([1, 2, [3, 4 , 6], None])

In [ ]:
len({})

In [ ]:
persona = {'nombre':'Juan', 'apellido': 'Pérez', 'promedio':7.5}

In [ ]:
len(persona)

## Indexado de colecciones.

Los siguientes tipos permiten identificar a cada elemento contenido en ellos mediante un índice.

* ```str```.
* ```bytes```.
* ```list```.
* ```tuple```.
* ```dict```.

Dependiendo del tipo de colección, el índice puede ser un número entero, un rango numérico o una clave delimitado por corchetes ```[``` ```]``` y que se coloca a la derecha del objeto del cual se extraerá el o los elemento.

La sintaxis es la siguiente:

```
<colección>[<número, clave o rango>]
```

### Indexado numérico.

Los objetos de tipos con indexado numérico identifican a cada elemento que contienen identificándolo mediante un número entero de 2 formas:

* De izquierda a derecha: El primer elemento del extremo izquierdo tiene el índice ```0```, en incrementos de uno hasta llegar al extremo derecho.
* De derecha a izquierda: El primer elemento del extremo derecho tiene el índice ```-1```, decreciendo de uno en uno hasta llegar al extremo izquierdo.

Este tipo de indexado es propio de los tipos:

* ```str```.
* ```bytes```.
* ```list```.
* ```tuple```.

Si el índice sobrepasa el tamaño del objeto, se desencadenará un error de tipo ```IndexError```.

**Ejemplos:**

* La siguiente celda obtendrá el caracter ```'l'``` del objeto ```'saludo'```, cuyo índice corresponde a ```[2]``` yendo de izquierda a derecha.

In [ ]:
'saludo'[2]

* La siguiente celda obtendrá el número ```108```, a partir del objeto ```b'saludo'```. Dicho número corresponde al valor del caracter ```l``` en la tabla de código *ASCII*. El índice corresponde a ```[-4]``` yendo de derecha a izquierda.

In [ ]:
b'saludo'[-4]

* La siguiente celda pide un índice fuera de rango y desecadenará un error de tipo ``ÌndexError```.

In [ ]:
'saludo'[10]

* La siguientes celdas ejemplificarán el uso del indexado numérico en objetos tipo ```list``` al que se le asignará el nombre ```lista```.

In [ ]:
lista = [1, 2, 3, 4]

In [ ]:
lista[1]

In [ ]:
lista[-3]

* La siguientes celdas ejemplificarán el uso del indexado numérico en objetos tipo ```tuple``` al que se le asignará el nombre ```tupla```.

In [ ]:
tupla = (1, [4, True, None, 'Saludo'], 6, 22.5)

In [ ]:
tupla[0]

In [ ]:
tupla[-3]

### Indexado mediante la clave en los objetos de tipo ```dict```.

Los objetos de tipo ```dict``` no cuentan con índices numéricos. En su defecto, es posible obtener un valor mediante su clave correspondiente.

```
<objeto dict>[<clave>]
```

Si la clave que se ingresa no existe, se desencadenará un error de tipo ```KeyError```.

**Ejemplo:**

* La siguiente celda definirá al objeto ```persona```, el cual contiene las claves:
    * ```'nombre'```.
    * ```'primer apellido'```.
    * ```'promedio'```.
    * ```True```.

In [ ]:
persona = {'nombre': 'Juan', 'primer apellido': 'Pérez', 'promedio':7.8, True:'V'}

* La siguiente celda regresará el objeto ```7.8``` correspondiente a la clave ```'promedio'``` del objeto ```persona```.

In [ ]:
persona['promedio']

* La siguiente celda regresará el objeto ```'Juan'``` correspondiente a la clave ```'nombre'``` del objeto ```persona```.

In [ ]:
persona['nombre']

* La siguiente celda regresará el objeto ```'V'``` correspondiente a la clave ```True``` del objeto ```persona```.

In [ ]:
persona[True]

* La siguiente celda hace referencia a la clave ```'indefinido'```, la cual no existe en el objeto ```persona``` lo que desencdenará unn error de tipo ```KeyError```.

In [ ]:
persona['indefinido']

###  Indíces anidados.

Si un elemento seleccionado dentro de una colección indexables también en una colección indexable, es posible realizar una indexación anidada colocando el índice a la derecha del índice superior.

```
<colección>[<indice 1>][<índice 2>]...[<índice n>]
```

**Ejemplos:**

* A continuación se definirá al objeto ```tupla```, el cual contiene al objeto ```[4, True, None, 'Saludo']``` en el índice ```[1]```, el cual a su vez contiene al objeto ```'Saludo'``` en el índice ```[3]```.

In [ ]:
tupla = (1, [4, True, None, 'Saludo'], 6, 22.5)

* La siguiente celda regresará al objeto ```[4, True, None, 'Saludo']``` a partir de ```tupla[1]```.

In [ ]:
tupla[1]

* La siguiente celda regresará al objeto ```'Saludo'``` a partir de ```tupla[1][3]```.

In [ ]:
tupla[1][3]

* La siguiente celda regresará al cracter ```'l'``` a partir de ```tupla[1][3][2]```.

In [ ]:
tupla[1][3][2]

* A continuación se definirá al objeto ```persona```, el cual contiene al par  ```'primer apellido': 'Pérez'```.

In [ ]:
persona = {'nombre': 'Juan', 'primer apellido': 'Pérez', 'promedio':7.8}

* La siguiente celda obtendrá al objeto ```'Pérez'``` a partir de ```persona['primer apellido']```.

In [ ]:
persona['primer apellido']

* La siguiente celda obtendrá al caracter ```'é'``` a partir de ```persona['primer apellido'][-4]```.

In [ ]:
persona['primer apellido'][-4]

### Rebanado (slicing).

Las colecciones con índices numéricos permiten indexar rangos de elementos con la siguiente sintaxis.

```
<colección>[<indice menor>:<indice mayor>]
```

Esto regresará un nuevo objeto con los elementos comprendidos entre el índice menor y uno antes que el índice mayor.

* Si no se indica un índice menor, el rango empieza desde el índice ```0```.

* Si no se indica un índice mayor, el rango termina con el último elemento contenido.

* Si no se indica ningún índice y sólo se colocan los dos puntos ```:```, se hará un rebanado completo del objeto.

* El índice mayor puede ser superior al tamaño de la colección.
* Si el rango no tiene sentido, se regresará una colección vacía.

**Ejemplos:**

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
lista[2:5]

In [ ]:
lista[6:25]

In [ ]:
lista[-2:25]

In [ ]:
lista[-2:3]

In [ ]:
lista[5:3]

In [ ]:
nueva_lista = lista[:]

In [ ]:
nueva_lista

In [ ]:
id(lista)

In [ ]:
id(nueva_lista)

In [ ]:
'Buen día'[2:]

In [ ]:
(None, 4.015, True, 7, 'sombrero', ['uno', 'dos'], ())[:2]

## Modificación de elementos en objetos tipo ```list ``` y ```dict```.

Los tipos ```list``` y ```dict``` son tipos indexables y mutables, lo cual les permite:

* Sustituir un elemento por medio de un índice.
* Eliminar un elemento por medio de un índice.
* En el caso de los objetos de tipo ```tuple``` es posible eliminar o sustituir elementos dentro de un rango.
* En el caso de los objetos de tipo ```dict```, es posible añadir un nuevo par *clave:valor*.

### Eliminación de un elemento.

```
del <colección>[<índice>]
```

**Ejemplos:**

### Eliminación de un rango de elementos en objetos tipo ```list```.

```
del <objeto tipo list>[<índice menor>:<índice mayor>]
```

**Ejemplos:**

### Sustitución de un elemento.

```
<colección>[<índice>] = <objeto>
```

**Ejemplos:**

### Sustitución de un rango de elementos en objetos tipo ```list```.

```
<objeto tipo list>[<n>:<m>] = <objeto 1>, <objeto 2>, ... <objeto n - m>
```

**Ejemplos:**

### Adición de un nuevo elemento en objetos tipo ```dict```.

```
<objeto tipo dict>[<clave nueva>] = <objeto>
```

**Ejemplos:**

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
lista[2:4] = 'Verdadero', 15

In [ ]:
lista

In [ ]:
del lista[4:]

In [ ]:
lista

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
lista[0] = 'uno'

In [ ]:
lista

In [ ]:
del lista[5]

In [ ]:
lista

In [ ]:
persona = {'nombre': 'Juan', 'primer apellido': 'Pérez', 'promedio': 7.8}

In [ ]:
del persona['promedio']

In [ ]:
persona

In [ ]:
persona['nombre'] = 'Julia'

In [ ]:
persona

## Objetos mutables dentro de objetos inmutables.

In [ ]:
tupla = (None, 4.015, True, 7, 'sombrero', ['uno', 'dos'], ())

In [ ]:
tupla[2] = 0

In [ ]:
del tupla[5]

In [ ]:
tupla

In [ ]:
tupla[-2]

In [ ]:
tupla[-2][0] = 3

In [ ]:
tupla

In [ ]:
del tupla[-2][:]

In [ ]:
tupla

## Funciones relativas a tipos de datos.

### La función ```type()```.

La función ```type()``` regresa el tipo de dato o clase a la que pertenece un objeto el cual es ingresado como argumento con la siguiente sintaxis:

```
type(<objeto>)
```

**Ejemplos:**

* Las siguientes celdas utlizarán la función ```type()``` para conocer el tipo de datos del que se trata.

In [ ]:
type("Hola")

In [ ]:
type(b"Hola")

In [ ]:
type(12)

In [ ]:
type(12.)

In [ ]:
type(23j)

In [ ]:
type(True)

In [ ]:
type([1, 2, 3])

In [ ]:
type((1, 2, 3))

In [ ]:
type({1, 2, 3})

In [ ]:
type({'uno': '1'})

In [ ]:
type(None)

### La función ```int()```.

Esta función transforma un objeto compatible que es ingresado como argumento a un objeto tipo ```int```. 
 
La sintaxis es la siguiente:

```
int(<objeto>)
```

* Es posible convertir objetos de tipo ```str``` que representen correctamente a un número entero.
* Los objetos de tipo ```float``` son truncados en la parte entera. 
* ```True``` es convertido en ```1```.
* ```False``` es convertido en ```0```. 
* La función ```int()``` es compatible con objetos tipo ```complex```.

**Ejemplos:**

* La siguiente celda convertirá en un objeto ```int``` al objeto de tipo ```bool``` que se ingresa como argumento.

In [ ]:
int(True)

* El argumento de la siguiente celda contiene una representación correcta de un entero negativo, por lo que la función ```int()``` podrá realizar la conversión correctamente.

In [ ]:
int("-12")

* El argumento de la siguiente celda contiene una representación correcta de un número real, por lo que la función ```int()``` no podrá realizar la conversión correctamente y regresará un error de tipo ```ValueError```.

In [ ]:
int("28.8")

In [ ]:
int(b"12")

* El argumento de la siguiente celda no contiene una representación correcta de un número entero, por lo que la función ```int()``` será incapaz de realizar la conversión y desencadenará un error de tipo ```ValueError```.

In [ ]:
int('Hola')

* Los argumentos de las siguiente celdas contienen objetos tipo ```float```, por lo que la función ```int()``` truncará el valor a enteros.

In [ ]:
int(5.6)

In [ ]:
int(-5.3)

* Los argumentos de las siguientes celdas son objetos de tipo ```complex```, por lo que la función ```int()``` será incapaz de realizar la conversión y desencadenará un error de tipo ```TypeError```.

In [ ]:
int(12 + 45.2j)

In [ ]:
int(-5j)

* El argumento de la siguiente celda es ```None```, el cual no puede ser representado por algún valor numérico, lo que desencadenará un error de tipo ```TypeError```.

In [ ]:
int(None)

### La función ```float()```. 

Transforma a un objeto de tipo compatible que se ingrese como argumento a uno de tipo ```float```.

La sintaxis es la siguiente:

```
float(<objeto>)
```

* Puede convertir objetos de tipo ```str``` que contengan una representación correcta a un número real.
* Es compatible con los objetos tipo ```int```.
* ```True``` es convertido en ```1.0```
* ```False``` es convertido en ```0.0```. 
* No es compatible con objetos tipo ```complex```.

**Ejemplos:**

* El argumento de la siguiente celda contiene una representación correcta de un número real, por lo que la función ```float()``` podrá realizar la conversión correctamente.

In [ ]:
float("-12.6")

* El argumento de la siguiente celda no contiene una representación correcta de un número, por lo que la función ```float()``` será incapaz de realizar la conversión y desencadenará un error de tipo ```ValueError```.

In [ ]:
float('Hola')

* El argumento de la siguiente celda es un objeto de tipo ```int```, por lo que la función ```float()``` será capaz de realizar la conversión.

In [ ]:
float(-5)

* El argumento de la siguiente celda es un objeto de tipo ```complex```, por lo que la función ```float()``` será incapaz de realizar la conversión y desencadenará un error de tipo ```TypeError```.

In [ ]:
float(12.5 + 33j)

In [ ]:
float(False)

In [ ]:
float(None)

### La función ```complex()```.

Transforma a un objeto compatible a uno de tipo ```complex```.

* Convierte objetos de tipo ```str``` que contengan representen correctamente a un número real.
* Transforma en un objeto de tipo ```complex``` a un par de números ya sean ```int``` o ```float```. 
* Si sólo se da un número ```int``` o ```float```, este será identificado como el componente real y el componente complejo será ```0j```.

**Ejemplos:**

In [ ]:
complex(3.5, 2)

In [ ]:
complex(8.3)

In [ ]:
complex("23+5j")

In [ ]:
complex("23")

In [ ]:
complex("23 + 5j")

### La función ```bool()```.

Transforma en booleano a un objeto. 

* El ```0``` equivale a ```False```.
* El valor```None``` equivale a ```False```.
* Una colección vacía equivale a ```False``
* Cualquier otra cosa distinta es ```True```.
*

**Ejemplos:**

In [ ]:
bool(-3)

In [ ]:
bool(2)

In [ ]:
bool((12, 4, 78))

In [ ]:
bool("Hola")

In [ ]:
bool("0")

In [ ]:
bool(0)

In [ ]:
bool("")

In [ ]:
bool({})

In [ ]:
bool(None)

### La función ```str()```.

Transforma a un objeto que es ingresados como argumento en una cadena de caracteres de tipo ```str````.

La sintaxis es la siguiente:

```
str(<objeto>)
```

Prácticamente todos los objetos pueden ser transformados en una cadena de caracteres.

**Ejemplos:**

* Las siguientes celdas transformarán un objeto a ```str```.

In [ ]:
str(True)

In [ ]:
str(12 + 3.5j)

In [ ]:
str({'nombre': 'Juan'})

In [ ]:
str(b'Saludos')

### La función ```bytes()```.

In [ ]:
bytes('Saludos', encoding='utf-8')

In [ ]:
bytes(6)

In [ ]:
bytes(True)

In [ ]:
bytes(False)

In [ ]:
bytes(-1.4)

In [ ]:
bytes(12 + 3.5j)

In [ ]:
bytes({'nombre': 'Juan'})

### La función ```list()```.

### La función ```tuple()```.

### La función ```set()```.

### La función ```dict()```.

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2019.</p>