[![imagenes](imagenes/pythonista.png)](https://pythonista.io)

# Objetos tipo ```list``` y ```tuple```.

Los objetos tipo ```tuple``` y ```list``` son:

* Colecciones. Es decir, que pueden contener objetos, también llamados elementos.
* Ordenadas. Es decir, que respetan el orden en el que cada elemento es ingresado.
* Indexables numéricamente. Es decir, que cada elemento que contienen puede ser accedido mediante un índice numéricos.

La diferencia entre estos tipos de datos es que losm objetos de tipo ```list``` son mutables y los objetos de tipo ```tuple``` son inmutables.

## Objetos tipo ```list```.

Los objetos tipo ```list``` son colecciones ordenadas de objetos, sin importar el tipo de cada uno, los cuales son indexables numéricamente y son mutables.

Se definen encerrando entre corchetes ```[``` ```]``` una sucesión de objetos separados por comas ```,```.

La sintaxis es la siguiente:

```
[<objeto 1>, <objeto 2>, ..., <objeto n>] 
```

Cabe hacer notar que los objetos de tipo ```list``` no son equivalentes a las matrices en otros lenguajes de programación.

**Ejemplos:**

In [ ]:
[1, 2, 3, 4, 5]

In [ ]:
['gato', 'perro', True]

In [ ]:
[['automóvil', 50, 'gasolina'], ['autobús', 300, 'diesel']]

In [ ]:
[]

### Indexado numérico.

Los objetos de tipo ```list``` cuentan con un indexado numérico con el que  identifican a cada elemento que contienen mediante un número entero de 2 formas:

* índices positivos:  En los que el primer elemento del extremo izquierdo tiene el índice ```0```, el elemento a su derecha tiene el índice ```1``` y así sucesivamente en incrementos de uno  en uno hasta llegar al elemento del extremo derecho.
* Índices negativos: En los que el primer elemento del extremo derecho tiene el índice ``-1``, el elemento a su izquierda tiene el índice ```-2``` y así sucesivamente en decrementos de uno en uno hasta llegar al elemento del extremo izquierdo.

Para acceder a cada elemento mediante un índice se usa la siguiente sintaxis:

```
<objeto tipo list>[<índice>]
```

Si se trata de acceder a un elemento con un índice que excede el tamaño del objeto, se obtendrá un error de tipo ```IndexError```.

**Ejemplos:**

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
lista[0]

In [ ]:
lista[-8]

In [ ]:
lista[7]

In [ ]:
lista[-3]

In [ ]:
lista[8]

###  Indíces anidados.

En el caso de que un elemento seleccionado dentro de una colección indexables también sea una colección indexable, es posible realizar una indexación anidada colocando el índice a la derecha del índice superior.

```
<colección>[<indice 1>][<índice 2>]...[<índice n>]
```

**Ejemplo:**

In [ ]:
lista = [[1, 2, 3, 4], False, ['cinco', 'seis', 'siete'], 8.]

In [ ]:
lista[2]

In [ ]:
lista[2][1]

In [ ]:
lista[2][1][-2]

### Modificación de un elemento de un objeto tipo ```list```.

Es posible modificar el contenido de un elemento en un objeto de tipo ```list``` mediante el operador de asignación ```=```.

**Ejemplos:**

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
lista[4] = "hola"

In [ ]:
lista

In [ ]:
lista[-3] = True

In [ ]:
lista

In [ ]:
lista[-9] = 0

In [ ]:
[1, 2, 3, 4, 5, 6][3]

### Eliminación de un elemento en un objeto tipo ```list```.

Para eliminar un elemento en un objeto de tipo ```list``` se utiliza la declaración ````del````. El elemento identificado mediante su posición será eliminado y en caso de que existan, se recorrerá el índice de los elementos a la derecha del elemento eliminado. 

La sintaxis es la siguiente:

```
del <objeto tipo list>[<posición>]
```

**Ejemplos:**

In [ ]:
lista = [1, 2, 3, 4, 5]

In [ ]:
lista[1]

In [ ]:
del lista[1]

In [ ]:
lista

In [ ]:
lista[1]

### "Rebanado" de objetos tipo ```list ```.

Es posible extraer una porción definida de elementos contenidos en un objeto tipo ```list``` mediante el uso de rangos con la siguiente sintaxis.

```
<objeto tipo list>[m:n]
```

En donde: 

* ```m``` es el índice inferior del rango.
* ```n``` es el índice superior del rango.

El resultado será un nuevo objeto de tipo ```list``` conteniendo los elementos que van del índice ```m``` a uno antes de ```n```. 

* Para que sea un rango válido, la posición de ```m``` debe de ser siempre menor que la de ```n```, aunque se pueden combinar índices positivos y negativos.
* Si no se designa un índice a la izquierda del signo ```:``` se asume que ```m``` es  ```0```. 

* Si no se designa un índice a la derecha del signo ```:``` se asume que se seleccionarán todos los elementos hasta el final del objeto tipo ```list```.

**Ejemplos:**

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
lista[-3:-1]

In [ ]:
lista[0:3]

In [ ]:
lista[:]

In [ ]:
lista[-4:]

In [ ]:
lista[:4]

### Eliminación de un rango de elementos en objetos tipo ```list```.

Es posible eliminar un rango de elementos de un objeto tipo ```list``` utilizando la declaración ```del``` con la siguiente sintaxis.

```
del <objeto tipo list>[m:n]
```

En donde: 

* ```m``` es el índice inferior del rango.
* ```n``` es el índice superior del rango.

Esto eliminará los elementos en el rango que va de ```m``` hasta uno antes de ```n```.

**Ejemplos:**

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
del lista[-3:-1]

In [ ]:
lista

### Sustitución de un rango de elementos en objetos tipo ```list ```.

Es posible sustituir uno o varios objetos definido en un rango de índices dentro de un objeto tipo ```list``` usando la siguiente sintaxis:

```
<objeto tipo list>[m:n] = <objeto 1>, <objeto 2>, ..., <objeto m-n>
```

En donde: 

* ```m``` es el índice inferior del rango.
* ```n``` es el índice superior del rango.

* Si el número de objetos a sustituir es menor que el rango definido, los objetos que no cuenten con un sustituto serán eliminados.
* Si el numero de objetos a sustituir es mayor que el rango definido, los objetos adicionales se insertarán y desplazarán al resto a la derecha.

**Ejemplos:**

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
lista[2:5] = "tres", "cuatro", "cinco"

In [ ]:
lista

In [ ]:
lista[5:]= "seis", 7.

In [ ]:
lista

In [ ]:
lista[5:6] = 6.0, "siete", "ocho", "nueve", "diez"

In [ ]:
lista

### Métodos de los objetos tipo ```list```.

#### El método ```append()```.

Este método inserta al final del objeto tipo ```list``` el  objeto que se ingresa como argumento.

```
<objeto tipo list>.append(<objeto>)
```

**Ejemplo:**

In [ ]:
lista = [1, 2, 3, 4, 5, 6]

In [ ]:
lista.append("siete")

In [ ]:
lista

#### El método ```insert()```.
Este elemento inserta en el objeto tipo ```list``` a un objeto en el índice indicado. Los elementos locaslizados a partir de dicho índice y hasta el final del objeto son recorridos a la derecha.

```
<objeto tipo list>.insert(<índice>, <objeto>)
```

**Ejemplo:**

In [ ]:
lista = [1, 2, 3, 4, 5, 6]

In [ ]:
lista.insert(3, True)

In [ ]:
lista

#### El método ```remove()```.

Este método busca de izquierda a derecha el objeto ingresado como argumento y elimina al primer elemento que coincida.

Si el objeto no es encontrado, genera un erro de tipo ```ValueError```.

```
<objeto tipo list>.remove(<objeto>)
```

**Ejemplos:**

In [ ]:
lista = [1, 2, 3, 4, 5, 4, 3, 2, 1, 0]

In [ ]:
lista.remove(3)

In [ ]:
lista

In [ ]:
lista.remove(5)

In [ ]:
lista

In [ ]:
lista.remove(5)

#### El método ```reverse()```.

Este método invierte el orden de los elementos del objeto tipo ```list```.

```
<objeto tipo list>.reverse()
```

**Ejemplo:**

In [ ]:
lista = [1, 2, 3, 4, 5]

In [ ]:
lista.reverse()

In [ ]:
lista

#### El método ```sort()```.

Este método ordena, cuando es posible, los elementos que contiene. 

```
<objeto tipo list>.sort(reverse=<booleano>)
```

* Si se especifica el argumento ```reverse=True``` el ordenamiento se hace de forma descendente. 
* El valor por defecto es ```reverse=False```.
* En caso de que los elementos no sean compatibles, se desencadenará un error de tipo ```TypeError```.

**Ejemplos:**

In [ ]:
lista = [15, True, 33, False, 12.35]

In [ ]:
lista.sort()

In [ ]:
lista

In [ ]:
lista.sort(reverse=True)

In [ ]:
lista

In [ ]:
[12, True, 'perro', None].sort()

#### El método  ```pop()```.

Este método regresa y elimina al elemento correspondiente al índice que se ingresa como argumento.

```
<objeto tipo list>.pop(<índice>)
```

* En caso de que no se ingreser un índice, el método regresará y eliminará al elmentos del extremo derecho del objeto tipo ```list```.

* En caso de que el objeto tipo  ```list```esté vacío, se generará un error de tipo ```IndexError```.

**Ejemplos:**

In [ ]:
lista = [15, True, 33, False, 12]

In [ ]:
lista.pop()

In [ ]:
lista

In [ ]:
lista.pop(1)

In [ ]:
lista

In [ ]:
lista.pop(2)

In [ ]:
lista

In [ ]:
lista.pop()

In [ ]:
lista

In [ ]:
lista.pop()

In [ ]:
lista

In [ ]:
lista.pop()

####  El método ```extend()```.

Ese métodos inserta al final del objeto tipo ```list``` cada uno de los elementos de una colección que es ingresada como argumento.

```
<objeto tipo list>.extend(<colección>)
```

**Ejemplos:**

In [ ]:
lista = [1, 2, 3]

In [ ]:
lista.extend(('cuatro', 'cinco'))

In [ ]:
lista

In [ ]:
lista.extend({'seis', 'siete', 'ocho', 8})

In [ ]:
lista

* A diferencia del método ```extend()```, el método ```append()``` añadirá a la colección ingresada como un solo elemento.

In [ ]:
lista.append([True, False, None])

In [ ]:
lista

#### El método ```clear()```.

Este método elimina a todos los elementos del objeto tipo ```list```.

```
<objeto tipo list>.clear()
```

**Ejemplo:**

In [ ]:
lista = [93, True, 27, True, True, 16, 45, 14, False, True]

In [ ]:
lista.clear()

In [ ]:
lista

#### El método ```count()```.

Este método cuenta el número de veces que aparece dentro del objeto tipo ```list``` el objeto que se ingresa como argumento.

```
<objeto tipo list>.count(<objeto>)
```

**Ejemplos:**

In [ ]:
lista = [1, 2, 3, 4, 5, 4, 3, 2, 1, 0]

In [ ]:
lista.count(2)

In [ ]:
lista.count(5)

In [ ]:
lista.count(11)

#### El método ```index()```.

Busca de izquierda a derecha un objeto dentro de un objeto de tipo ```list``` comprendido en un rango específico y en caso de encontrasrlo, regresa el índice en el que se encuentre.

```
<objeto tipo list>.index(<objeto>, m, n)
```

Donde:

* ```m``` es el índice menor.
* ```n``` es el índice mayor.

* La búsqueda se realizará desde el índice ```m``` hasta uno antes de ```n```.
* El valor de ```n```puede ser superior al del tamaño del objeto tipo ```list```.
* Si sólo se ingresa ```m```, la búsqueda se realizará desde el íncide ```m``` hasta el final del objeto tipo ```list```.
* En caso de no definir un rango, la búsqueda se realizará en el objeto completo.
* En caso de no encontrar una coincidencia en el rango detrerminado, se generará un error tipo ```ValueError```. 

**Ejemplos:**

In [ ]:
lista = [93, True, 27, True, True, 16, 45, 14, False, True]

In [ ]:
lista.index(True)

In [ ]:
lista.index(True, 8)

In [ ]:
lista.index(True, 6, 9)

In [ ]:
lista.index(True, 6, 25)

## Objetos tipo ```tuple```.

Los objetos tipo ````tuple``` son colecciones ordenadas de objetos, sin importar el tipo de cada uno, los cuales son indexables numéricamente y son inmutables.

Se definen encerrando entre paréntesis ```(``` ```)``` una sucesión de objetos separados por comas ```,```.

La sintaxis es la siguiente:

```
(<objeto_1>, <objeto_2>, ..., <objeto_n>)
```

**Ejemplos:**

In [ ]:
(1, 2, 3, 4, 5)

In [ ]:
('gato', 'perro', True)

In [ ]:
(['automóvil', 50, 'gasolina'], ('autobús', 300, 'diesel')

In [ ]:
()

### Inmutabilidad de los objetos tipo ```tuple```.

Los elementos contenidos en un objetos de tipo ```tuple``` no pueden ser modificados con el operador de asignación ```=``` ni eliminados con la declaración ```del```.

**Ejemplos:**

In [ ]:
tupla = (1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
tupla[2]

In [ ]:
tupla[4] = "hola"

In [ ]:
del tupla[3]

### Los objetos de tipo ```tuple``` pueden ser rebanados.

El rebanado no implica una modificación interna de un objeto de tipo *tuple*, sino la creación de un objeto nuevo y por lo tanto, este tipo de operaciones son permitidas.

**Ejemplo:**

In [ ]:
tupla = (1, 2, 3, 4, 5, 6)

In [ ]:
tupla[2:4]

### Métodos de los objetos de tipo ```tuple```.

Los objetos tipo _tuple_ sólo cuentan con los métodos: 

* ```count()```. 
* ```index()```.

**Ejemplos:**

In [ ]:
tupla = (1, 5, 7, 8, 4, 7, 7, 9)

In [ ]:
tupla.index(9)

In [ ]:
tupla.count(7)

In [ ]:
tupla.clear()

### Operadores aplicables a los objetos tipo ```list``` y  ```tuple```.

#### El operador de concatenación ```+```.

El operador de adición ```+ ```  permite crear una nueva colección a partir de la concatenación de las colecciones de origen.

```
<colección 1> + <colección 2>
```

**Ejemplos:**

In [ ]:
["a", "b", "c"] + [1, 2, 3]

In [ ]:
(1,2,3) + ('cuatro', 'cinco')

In [ ]:
(1,2,3) + ['cuatro', 'cinco']

#### El operador de repetición ```*```.

El operador ```*``` permite interactuar con objetos de tipo ```int```,  creando una nueva colección que se repite y concatena el número de veces que indica el objeto tipo ```int``` sin importar el orden de los factores.

```
<colección 1> * <objeto tipo int>
```

**Ejemplos:**

In [ ]:
["a", "b", "c"] * 3

In [ ]:
3 * ("a", "b", "c")

## Funciones para objetos tipo ```list``` y ```tuple```.

### La función ``len()```.

La función ```len()`` devuelve el número de objetos contenidos en una colección de objetos mediante la siguiente sintaxis:

```
len(<colección>)
```

**Ejemplos:**

In [ ]:
len([1, 2, 3, 4, 5])

In [ ]:
len(('gato', 'perro', True))

In [ ]:
len([('automóvil', 50, 'gasolina'), ['autobús', 300, 'diesel']])

In [ ]:
len([('automóvil', 50, 'gasolina'), ['autobús', 300, 'diesel']][1])

In [ ]:
len([])

In [ ]:
[('automóvil', 50, 'gasolina'), ['autobús', 300, 'diesel']][1]

In [ ]:
[('automóvil', 50, 'gasolina'), ['autobús', 300, 'diesel']][1].__len__()

### La función ```max()```.

La función ```max()``` devuelve el elemento de mayor valor contenido en una colección, siempre y cuando dichos objetos sean compatibles, mediante la siguiente sintaxis:
  
```
max(<colección>)
```

**Ejemplos:**

In [ ]:
max([1, 2, 3, 4, 5])

In [ ]:
max(('gato', 'perro', True))

In [ ]:
max(('gato', 'perro', 'canario', 'pluto'))

### La función ```min()```.

La función ```min()``` devuelve el elemento de menor valor contenido en una colección, siempre y cuando dichos objetos sean compatibles, mediante la siguiente sintaxis:
  
```
min(<colección>)
```

**Ejemplos:**

In [ ]:
min([1, 2, 3, 4, 5])

In [ ]:
min(('gato', 'perro', True))

In [ ]:
min(('gato', 'perro', 'canario'))

### La función ```sum()```.

La función ```sum()``` devuelve la suma los elementos contenido en una colección, siempre y cuando dichos objetos sean compatibles, mediante la siguiente sintaxis:
  
```
sum(<colección>)
```

**Ejemplos:**

In [ ]:
sum([1, 2, 3, 4, 5])

In [ ]:
sum(('gato', 'perro', True))

In [ ]:
sum(('gato', 'perro'))

In [ ]:
sum((b'gato', b'perro'))

## Transformaciones entre objetos tipo ```list``` y tipo ```tuple```.

Los objetos tipo ```list``` y tipo ```tuple``` pueden ser convertidos en objetos del otro tipo mediante las funciones:

* ```list()```  
* ```tuple()```

**Ejemplos:**

In [ ]:
tupla = (7, 8, 9)

In [ ]:
lista = list(tupla)
lista

In [ ]:
tuple(lista)

In [ ]:
tupla == tuple(lista)

In [ ]:
tupla is tuple(lista)

## Iteraciones con ```for``` ...  ```in``` para objetos tipo ```list``` y ```tuple```.

Los objetos tipo ```list``` y ```tuple``` son objetos iterables.


```
for <nombre> in <colección>:
   ...
   ...
```

**Ejemplo:**

In [ ]:
for gato in ["Cucho", "Espanto", "Panza", "Demóstenes", "Benito"]:
    print(gato)

### Iteración de elementos múltiples.

Suponiendo que se tuviera un objeto tipo ```list``` o ```tuple```, cuyos elementos también sean iterables y que todos ellos sean del mismo tamaño, es posible asignar un nombre por cada elemento contenido dentro los iterables que su vez están contenidos en la colección:

**Ejemplo:**

* La siguiente celda define al objeto tipo ```tuple``` con nombre ```vehiculos```.
    * El objeto ```vehículo``` contiene 3 objetos de tipo ```tuple``` que a su vez contienen 3 elementos.

In [ ]:
vehiculos = (('automóvil', 50, 'gasolina'),
             ('autobús', 300, 'diesel'),
             ('helicóptero', 2000, 'turbodiesel'),
             ('velero', 0, 'N/A'))

* La siguiente celda despelgará el tamaño de cada elemento dentro de ```vehiculo```.

In [ ]:
for vehiculo in vehiculos:
    print(len(vehiculo))

* A continuación se definirán 3 objetos de tipo ```list``` los cuales se encuentran vaciós con los siguientes nombres:
    * ```tipos```.
    * ```capacidades```.
    * ```combustibles```.

In [ ]:
tipos, capacidades, combustibles = [], [], []

* La declaración ```for``` de la siguiente celda define tres nombres que recibirán un valor en cada iteración a partir del objeto ```vehículos```: 
    * ```tipo```.
    * ```capacidad```.
    * ```combustible```.
* En cada iteración se insertará mediante el método ```append()```:
    * El objeto con nombre```tipo``` al objeto ```tipos```.
    * El objeto con nombre ```capacidad``` al objeto ```capacidades```.
    * El objeto con nombre ```combustible``` al objeto ```combustibles```.

In [ ]:
for tipo, capacidad, combustible in vehiculos:
    tipos.append(tipo)
    capacidades.append(capacidad)
    combustibles.append(combustible)

* Al final de las iteraciones los objetos tipo ```list```quedarán de la siguiente forma.

In [ ]:
capacidades

In [ ]:
combustibles

In [ ]:
tipos

## "Aliasing". 

Al "rebanar" un objeto, se crea una nueva colección que hace referencia a los elementos existentes en el objeto original.

Esto significa que aún cuando el objeto resultante del "rebanado" es nuevo, los elementos que comparten el objeto original y el objeto "rebanado", son exactamente los mismos.

**Ejemplo:**

In [ ]:
lista_1 = [12, True, "lapicero"]

In [ ]:
lista_2 = lista_1[:]

In [ ]:
lista_1 == lista_2

In [ ]:
lista_1 is lista_2

In [ ]:
for elemento in lista_1: 
    print(id(elemento))

In [ ]:
for elemento in lista_2: 
    print(id(elemento))

### Aliasing  con elementos mutables.

El aliasing puede tener efectos indeseados cuando una colección contiene objetos mutables.

**Ejemplo:**

* La siguiente celda definirá al objeto de tipo ```list```llamado ```lista_1```, cuyo elemento con índice ```2``` también es de tipo ```list```.

In [ ]:
lista_1 = [1, 2, ['b', 'c']]

In [ ]:
lista_1[2]

* La siguiente celda, le asignará el nombre ```lista_2``` al elemento ```lista_1[2]```.

In [ ]:
lista_2 = lista_1[2]

* La siguiente celda creará un objeto de tipo ```tuple``` con nombre ```tupla``` a partir de un rebanado completo del objeto ```lista_1```.

In [ ]:
tupla = tuple(lista_1[:])

* Tanto ```lista_1[2]```, ```lista_2``` como ```tupla[2]``` son el mismo objeto.

In [ ]:
lista_1[2] is lista_2

In [ ]:
lista_1[2] is tupla[2]

In [ ]:
tupla[2] is lista_2

* Al modificar el contenido de un elemento mutable que es compartido por todos los objetos; dicho cambio se aplicará uniformemente en todos los objetos que lo contienen.

In [ ]:
del lista_2[:]

In [ ]:
lista_2

In [ ]:
lista_1

In [ ]:
tupla

## Legibilidad al definir una colección de objetos.

Los objetos de tipo _list_, _tuple_, _dict_, etc., no toman en cuenta espacios, tabuladores o saltos de linea después de las comas, por lo que con fines de legibilidad se recomienda definir dichos objetos de la siguiente manera.

**Ejemplo:**

In [ ]:
vehiculos = [['automóvil', 50, 'gasolina'],
             ['autobús', 300, 'diesel'], 
             ['helicóptero', 2000, 'turbodiesel'],
             ['velero', 0, 'N/A']]

In [ ]:
vehiculos

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2019.</p>