[![imagenes](imagenes/pythonista.png)](https://pythonista.mx)

# Objetos tipo ```list``` y ```tuple```.

Los objetos tipo ```tuple``` y ```list``` son:

* Colecciones. Es decir, que pueden contener objetos, también llamados elementos.
* Ordenadas. Es decir, que respetan el orden en el que cada elemento es ingresado.
* Indexables numéricamente. Es decir, que cada elemento que contienen puede ser accedido mediante un índice numéricos.

La diferencia entre estos tipos de datos es que losm objetos de tipo ```list``` son mutables y los objetos de tipo ```tuple``` son inmutables.

## Objetos tipo ```list```.

Los objetos tipo ```list``` son colecciones ordenadas de objetos, sin importar el tipo de cada uno, los cuales son indexables numéricamente y son mutables.

Se definen encerrando entre corchetes ```[``` ```]``` una sucesión de objetos separados por comas ```,```.

La sintaxis es la siguiente:

```
[<objeto 1>, <objeto 2>, ..., <objeto n>] 
```

Cabe hacer notar que los objetos de tipo ```list``` no son equivalentes a las matrices en otros lenguajes de programación.

**Ejemplos:**

In [ ]:
[1, 2, 3, 4, 5]

In [ ]:
['gato', 'perro', True]

In [ ]:
[['automóvil', 50, 'gasolina'], ['autobús', 300, 'diesel']]

In [ ]:
[]

### Indexado numérico.

Los objetos de tipo ```list``` cuentan con un indexado numérico con el que  identifican a cada elemento que contienen mediante un número entero de 2 formas:

* índices positivos:  En los que el primer elemento del extremo izquierdo tiene el índice ```0```, el elemento a su derecha tiene el índice ```1``` y así sucesivamente en incrementos de uno  en uno hasta llegar al elemento del extremo derecho.
* Índices negativos: En los que el primer elemento del extremo derecho tiene el índice ``-1``, el elemento a su izquierda tiene el índice ```-2``` y así sucesivamente en decrementos de uno en uno hasta llegar al elemento del extremo izquierdo.

Para acceder a cada elemento mediante un índice se usa la siguiente sintaxis:

```
<objeto tipo list>[<índice>]
```

Si se trata de acceder a un elemento con un índice que excede el tamaño del objeto, se obtendrá un error de tipo ```IndexError```.

**Ejemplos:**

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
lista[0]

In [ ]:
lista[-8]

In [ ]:
lista[7]

In [ ]:
lista[-3]

In [ ]:
lista[8]

###  Indíces anidados.

En el caso de que un elemento seleccionado dentro de una colección indexables también sea una colección indexable, es posible realizar una indexación anidada colocando el índice a la derecha del índice superior.

```
<colección>[<indice 1>][<índice 2>]...[<índice n>]
```

**Ejemplo:**

In [4]:
lista = [[1, 2, 3, 4], False, ['cinco', 'seis', 'siete'], 8.]

In [5]:
lista[2]

['cinco', 'seis', 'siete']

In [6]:
lista[2][1]

'seis'

In [7]:
lista[2][1][-2]

'i'

### Modificación de un elemento de un objeto tipo ```list```.

Es posible modificar el contenido de un elemento en un objeto de tipo ```list``` mediante el operador de asignación ```=```.

**Ejemplos:**

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
lista[4] = "hola"

In [ ]:
lista

In [ ]:
lista[-3] = True

In [ ]:
lista

In [ ]:
lista[-9] = 0

In [ ]:
[1, 2, 3, 4, 5, 6][3]

### Eliminación de un elemento en un objeto tipo ```list```.

Para eliminar un elemento en un objeto de tipo ```list``` se utiliza la declaración ````del````. El elemento identificado mediante su posición será eliminado y en caso de que existan, se recorrerá el índice de los elementos a la derecha del elemento eliminado. 

La sintaxis es la siguiente:

```
del <objeto tipo list>[<posición>]
```

**Ejemplos:**

In [ ]:
lista = [1, 2, 3, 4, 5]

In [ ]:
lista[1]

In [ ]:
del lista[1]

In [ ]:
lista

In [ ]:
lista[1]

### "Rebanado" de objetos tipo ```list ```.

Es posible extraer una porción definida de elementos contenidos en un objeto tipo ```list``` mediante el uso de rangos con la siguiente sintaxis.

```
<objeto tipo list>[m:n]
```

En donde: 

* ```m``` es el índice inferior del rango.
* ```n``` es el índice superior del rango.

El resultado será un nuevo objeto de tipo ```list``` conteniendo los elementos que van del índice ```m``` a uno antes de ```n```. 

* Para que sea un rango válido, la posición de ```m``` debe de ser siempre menor que la de ```n```, aunque se pueden combinar índices positivos y negativos.
* Si no se designa un índice a la izquierda del signo ```:``` se asume que ```m``` es  ```0```. 

* Si no se designa un índice a la derecha del signo ```:``` se asume que se seleccionarán todos los elementos hasta el final del objeto tipo ```list```.

**Ejemplos:**

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
lista[-3:-1]

In [ ]:
lista[0:3]

In [ ]:
lista[:]

In [ ]:
lista[-4:]

In [ ]:
lista[:4]

### Eliminación de un rango de elementos en objetos tipo ```list```.

Es posible eliminar un rango de elementos de un objeto tipo ```list``` utilizando la declaración ```del``` con la siguiente sintaxis.

```
del <objeto tipo list>[m:n]
```

En donde: 

* ```m``` es el índice inferior del rango.
* ```n``` es el índice superior del rango.

Esto eliminará los elementos en el rango que va de ```m``` hasta uno antes de ```n```.

**Ejemplos:**

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
del lista[-3:-1]

In [ ]:
lista

### Sustitución de un rango de elementos en objetos tipo ```list ```.

Es posible sustituir uno o varios objetos definido en un rango de índices dentro de un objeto tipo ```list``` usando la siguiente sintaxis:

```
<objeto tipo list>[m:n] = <objeto 1>, <objeto 2>, ..., <objeto m-n>
```

En donde: 

* ```m``` es el índice inferior del rango.
* ```n``` es el índice superior del rango.

Si el número de objetos a sustituir es menor de que el rango, los objetos que no cuenten con un sustituto serán eliminados.

**Ejemplos:**

In [53]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
lista[2:5] = "tres", "cuatro", "cinco"

In [55]:
lista

[1, 2, 'tres', 'cuatro', 'cinco', 6, 7, 8, 9, 10]

In [56]:
lista[5:]= "seis", 7.

In [57]:
lista

[1, 2, 'tres', 'cuatro', 'cinco', 'seis', 7.0]

### Métodos de los objetos tipo _list_.

Estos son algunos de los métodos los objetos tipo _list_ adquieren. Cabe hacer notar que estos métodos no crean un nuevo objeto, sino que afectan directamente al objeto al que pertenecen.

#### _append()_.

Añade al elemento que se ingresa como argumento al final del objeto tipo _list_.

**Ejemplo:**

In [ ]:
lista = [1, 2, 3, 4, 5, 6]

In [ ]:
lista.append(57)

In [ ]:
lista

#### _insert()_.
Añade en la posición correspondiente al número ingresado como primer argumento al elemento ingresado como segundo argumento, desplazando el resto de los elementos hacia la derecha.

**Ejemplo:**

In [ ]:
lista = [1, 2, 3, 4, 5, 6]

In [ ]:
lista.insert(3, True)

In [ ]:
lista

#### _remove()_.

Elimina el primer elemento de izquierda a derecha que sea igual al objeto que se ingresa como argumento. Si el objeto no es encontrado, genera un _ValueError_.

**Ejemplos:**

In [ ]:
lista = [1, 2, 3, 4, 5, 4, 3, 2, 1, 0]

In [ ]:
lista.remove(3)

In [ ]:
lista

In [ ]:
lista.remove(5)

In [ ]:
lista

In [ ]:
lista.remove(5)

#### _reverse()_ .
Invierte el orden del objeto tipo _list_.

**Ejemplos:**

In [ ]:
lista = [1, 2, 3, 4, 5]

In [ ]:
lista.reverse()

In [ ]:
lista

#### _sort()_.
Ordena los elementos de la lista, en caso de que sea posible. Si no se especifica, se hace en orden ascendente; pero si se especifica el argumento _reverse=True_, puede hacerlo de forma descendente.

**Ejemplos:**

In [ ]:
lista = [15, True, 33, False, 12.35]

In [ ]:
lista.sort()

In [ ]:
lista

In [ ]:
lista.sort(reverse=True)

In [ ]:
lista

####  _pop()_.
Elimina el elemento contenido en el objeto tipo _list_ localizado en el índice que se ingresa como argumento y regresa su valor. Si no se indica la posición, se asume que el último elemento del objeto tipo _list_ es el indicado. En caso e que el objeto no contenga elementos, se generará un error de tipo _IndexError_.

**Ejemplos:**

In [ ]:
lista = [15, True, 33, False, 12]

In [ ]:
lista.pop()

In [ ]:
lista

In [ ]:
lista.pop(1)

In [ ]:
lista

In [ ]:
lista.pop(2)

In [ ]:
lista

In [ ]:
lista.pop()

In [ ]:
lista

In [ ]:
lista.pop()

In [ ]:
lista

In [ ]:
lista.pop()

####  _extend()_.
Añade al final del objeto cada uno de los elementos de un objeto iterable que es ingresado como argumento.

**Ejemplos:**

In [ ]:
lista = [15, True, 33, False, 12]

In [ ]:
lista.extend([12, 4, 21])

In [ ]:
lista

Cabe hacer notar la diferencia con el método _append()_.

In [ ]:
lista = [15, True, 33, False, 12]

In [ ]:
lista.append([12, 4, 21])

In [ ]:
lista

#### _count()_.
Cuenta el número de veces que aparece dentro del objeto tipo _list_ el objeto que se ingresa como argumento.

**Ejemplos:**

In [ ]:
lista = [1, 2, 3, 4, 5, 4, 3, 2, 1, 0]

In [ ]:
lista.count(2)

In [ ]:
lista.count(5)

In [ ]:
lista.count(11)

#### _index()_.
Regresa la primera posición de izquierda a derecha del valor que corresponda al que se ingrese como primer argumento. Además del valor, es posible definir un rango de búsqueda agregando el índice menor como segundo argumento y el indice mayor como tercer argumento. En caso de no definirlo, el rango es el índice completo. En caso de no encontrar al elemento, se generará un error tipo _ValueError_. 

**Ejemplos:**

In [ ]:
lista = [93, True, 27, True, True, 16, 45, 14, False, True]

In [ ]:
lista.index(True)

In [ ]:
lista.index(True, 8)

In [ ]:
lista.index(True, 6, 9)

In [ ]:
lista.index(True, 6, 10)

#### _clear()_

Elimina a todos los elementos de la lista.

**Ejemplo:**

In [ ]:
lista = [93, True, 27, True, True, 16, 45, 14, False, True]

In [ ]:
lista.clear()

In [ ]:
lista

## Objetos tipo _tuple_.

Los objetos tipo _tuple_ son una secuencia ordenada de objetos separados por comas y encerrados entre paréntesis "*( )*".

```
(<objeto_1>, <objeto_2>, ..., <objeto_n)
```

**Ejemplos:**

``` python
(1, 2, 3, 4, 5)
('gato', 'perro', True)
(['automóvil', 50, 'gasolina'], ['autobús', 300, 'diesel'])
()
```
Los objetos tipo _tuple_ están indexados del mismo modo que los objetos de tipo _list_.

### Los objetos tipo * tuple* son "inmutables".

Los elementos contenidos en un objetos de tipo *tuple* no pueden ser modificados con el operador de asignación (*=*) ni eliminados con la declaración *del*.

**Ejemplo:**

In [ ]:
tupla = (1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
type(tupla)

In [ ]:
tupla[2]

In [ ]:
tupla[4] = "hola"

In [ ]:
del tupla[3]

### Los objetos de tipo _tuple_ pueden ser rebanados.

El rebanado no implica una modificación interna de un objeto de tipo *tuple*, sino la creación de un objeto nuevo y por lo tanto, este tipo de operaciones son permitidas. 

**Ejemplo:**

In [ ]:
tupla = (1, 2, 3, 4, 5, 6)

In [ ]:
tupla[2:4]

### Métodos de los objetos de tipo _tuple_.

Los objetos tipo _tuple_ sólo cuentan con los métodos: 
* _count()_. 
* _index()_.

**Ejemplos:**

In [ ]:
tupla = (1, 5, 7, 8, 4, 7, 7, 9)

In [ ]:
tupla.index(9)

In [ ]:
tupla.count(7)

In [ ]:
tupla.clear()

### Operadores aplicables a los objetos tipo ```list``` y  ```tuple```.

#### El operador de concatenación ```+```.

El operador de adición ```+ ``` es compatible entre objetos tipo ```list``` y permite crear una nueva lista a partir de la concatenación de las listas de origen.

**Ejemplos:**

In [ ]:
["a", "b", "c"] + [1, 2, 3]

#### El operador de repetición ```*```.

El operador ```*``` es compatible entre objetos tipo ```list``` y objetos tipo _int_, y permite crear una nueva lista que se repite y concatena el número de veces que indica el objeto tipo _int_.

**Ejemplos:**

In [ ]:
["a", "b", "c"] * 3

In [ ]:
3 * ["a", "b", "c"]

## Transformaciones entre objetos tipo _list_ y tipo _tuple_.

Los objetos tipo _list_ y tipo _tuple_ pueden ser convertidos en objetos del otro tipo mediante las funciones _list()_ y _tuple()_.

**Ejemplos:**

In [ ]:
tupla = (7, 8, 9)

In [ ]:
lista = list(tupla)
lista

In [ ]:
tuple(lista)

In [ ]:
tupla == tuple(lista)

In [ ]:
tupla is tuple(lista)

## Iteraciones con *for* ...  *in* para objetos tipo *list* y *tuple*.

Los objetos tipo _list_ y _tuple_ son objetos iterables, por lo que _for_ puede ser utilizado dependiendo del contexto.

#### Iteración con  _for_ para objetos tipo _list_ y un nombre.

In [ ]:
for gato in ["Cucho", "Espanto", "Panza", "Demóstenes", "Benito"]:
    print(gato)

### Iteración con  _for_ para objetos _list_ y _tuple_ que contienen objetos iterables.

Suponiendo que se tuviera un objeto tipo _list_ o _tuple_, cuyos elementos también sean objetos iterables y que todos ellos sean del mismo tamaño, es posible asignar un nombre por cada elemento contenido dentro los iterables que su vez están contenidos en el objeto _list_ o _tuple_:

**Ejemplo:**

In [ ]:
vehiculos = (('automóvil', 50, 'gasolina'),
             ('autobús', 300, 'diesel'),
             ('helicóptero', 2000, 'turbodiesel'),
             ('velero', 0, 'N/A'))

In [ ]:
for vehiculo in vehiculos:
    print(len(vehiculo))

In [ ]:
tipos, capacidades, combustibles = [], [], []

La siguiente declaración con *for* asignará a cada nombre un elemento dentro de cada objeto _tuple_ que a su vez está contenido en el objeto _tuple_ llamado _vehiculos_.

In [ ]:
for tipo, capacidad, combustible in vehiculos:
    tipos.append(tipo)
    capacidades.append(capacidad)
    combustibles.append(combustible)

In [ ]:
capacidades

In [ ]:
combustibles

In [ ]:
tipos

## "Aliasing". 

Al "rebanar" un objeto, se crea un nuevo objeto que hace referencia a los elementos existentes en el objeto original.

Esto significa que aún cuando el objeto resultante del "rebanado" es nuevo, los elementos que comparten el objeto original y el objeto "rebanado", son exactamente los mismos.

**Ejemplo: **

In [ ]:
lista_1 = [12, True, "lapicero"]

In [ ]:
id(lista_1)

In [ ]:
lista_2 = lista_1[:]

In [ ]:
id(lista_2)

In [ ]:
for elemento in lista_1: 
    print(id(elemento))

In [ ]:
for elemento in lista_2: 
    print(id(elemento))

Cuando se modifican los elementos del objeto de tipo _list_ mediante el operador (_=_) o la declaración _del_, el nuevo objeto de tipo _list_ no es afectado.

**Ejemplo:**

In [ ]:
lista_1 = [1, 2, 3]

In [ ]:
lista_2 = lista_1[:]

In [ ]:
lista_1[1] = True

In [ ]:
del lista_1[0]

In [ ]:
lista_1

In [ ]:
lista_2

Sin embargo, cuando hay un elemento mutable dentro del objeto original y éste elemento modifica su contenido en cualquiera de los objetos (ya sea el original o los resultantes del proceso de "rebanado"), ésto repercutirá en todos y cada uno de los objetos, aún cuando el contenedor sea inmutable.

**Ejemplo:**

A partir de un objeto de tipo _list_ llamado _lista\_1_se creará un objeto de tipo _list_ llamado _lista\_2_ y otro de tipo _tuple_, con nombre _tupla, por medio de "rebanado".

In [ ]:
lista_1 = [1, 2, ['b', 'c']]

In [ ]:
lista_2 = lista_1[:]
lista_2

In [ ]:
tupla = tuple(lista_1[:])
tupla

Como ya se mostró, modificar los elementos dentro de cada objeto no tiene consecuencias.

In [ ]:
lista_1[0] = "Hola"

In [ ]:
del lista_2[1]

In [ ]:
lista_1

In [ ]:
lista_2

In [ ]:
tupla

In [ ]:
del tupla[2]

Sin embargo, al modificar el contenido de un elemento mutable que es compartido por todos los objetos; dicho cambio se aplicará de forma generalizada.
 
En este caso, se eliminará el primer elemento del objeto de tipo _list_ contenido en todos los objetos.

In [ ]:
del lista_2[1][0]

In [ ]:
lista_1

In [ ]:
lista_2

In [ ]:
tupla

A esto se le conoce como "aliasing" y puede tener resultados inesperados si no se toman en cuenta sus efectos.

## Legibilidad al definir una colección de objetos.

Los objetos de tipo _list_, _tuple_, _dict_, etc., no toman en cuenta espacios, tabuladores o saltos de linea después de las comas, por lo que con fines de legibilidad se recomienda definir dichos objetos de la siguiente manera.

**Ejemplo:**

In [ ]:
vehiculos = [['automóvil', 50, 'gasolina'],
             ['autobús', 300, 'diesel'], 
             ['helicóptero', 2000, 'turbodiesel'],
             ['velero', 0, 'N/A']]

In [ ]:
vehiculos

## Funciones útiles con los objetos tipo _list_ y tipo _tuple_. 

### La función _len()_.

La función _len()_ devuelve el número de objetos contenidos en una colección de objetos mediante la siguiente sintaxis:

```
len(<objeto>)
```

**Ejemplos:**

In [ ]:
len([1, 2, 3, 4, 5])

In [ ]:
len(('gato', 'perro', True))

In [ ]:
len([('automóvil', 50, 'gasolina'), ['autobús', 300, 'diesel']])

In [ ]:
len([('automóvil', 50, 'gasolina'), ['autobús', 300, 'diesel']][1])

In [ ]:
len([])

In [ ]:
[('automóvil', 50, 'gasolina'), ['autobús', 300, 'diesel']][1]

In [ ]:
[('automóvil', 50, 'gasolina'), ['autobús', 300, 'diesel']][1].__len__()

### La función _max()_.

La función _max()_ devuelve el elemento de mayor valor contenido en una colección, siempre y cuando dichos objetos sean compatibles, mediante la siguiente sintaxis:
  
```
max(<objeto>)
```

**Ejemplos:**

In [ ]:
max([1, 2, 3, 4, 5])

In [ ]:
max(('gato', 'perro', True))

In [ ]:
max(('gato', 'perro', 'canario', 'pluto'))

### La función _min()_.

La función _min()_ devuelve el elemento de menor valor contenido en una colección, siempre y cuando dichos objetos sean compatibles, mediante la siguiente sintaxis:
  
```
min(<objeto>)
```

**Ejemplos:**

In [ ]:
min([1, 2, 3, 4, 5])

In [ ]:
min(('gato', 'perro', True))

In [ ]:
min(('gato', 'perro', 'canario'))

### La función _sum()_.

La función _sum()_ devuelve la suma los elementos contenido en una colección, siempre y cuando dichos objetos sean compatibles, mediante la siguiente sintaxis:
  
```
sum(<objeto>)
```

**Ejemplos:**

In [ ]:
sum([1, 2, 3, 4, 5])

In [ ]:
sum(('gato', 'perro', True))

In [ ]:
sum(('gato', 'perro'))

In [ ]:
sum((b'gato', b'perro'))

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2019.</p>