[![imagenes](imagenes/pythonista.png)](https://pythonista.mx)

# Objetos tipo *str* y tipo *bytes*.

## Objetos tipo *str*.

Python cuenta con varios tipos de objetos relacionados con cadenas de caracteres. El más común es el tipo _str_, el cual puede incluir cualquier tipo de caracter, incluyendo caracteres de escape.

### Los objetos de tipo _str_ son inmutables.

Los elementos contenidos en un objeto de tipo _str_ no pueden ser modificados ni eliminados con _del_.

**Ejemplos:**

In [1]:
saludo = "Hola, amigos."

In [2]:
saludo[1]

'o'

In [4]:
saludo[4:]

', amigos.'

In [5]:
saludo[4] = 'a'

TypeError: 'str' object does not support item assignment

In [6]:
del saludo[1]

TypeError: 'str' object doesn't support item deletion

In [7]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

El tipo _str_ cuenta con una enorme cantidad de métodos de diversas índoles que son de gran utilidad cuando se manipulan cadenas de texto.

### Métodos de ajuste de mayúsculas y minúsculas.

#### _lower()_ 
Convierte la cadena de caracteres en minúsculas.

**Ejemplo:**

In [8]:
'Hola, amigos.'.lower()

'hola, amigos.'

#### _upper()_ 
Convierte la cadena de caracteres en mayúsculas.

**Ejemplo:**

In [9]:
'Hola, amigos.'.upper()

'HOLA, AMIGOS.'

#### _capitalize()_ 
Convierte al primer caracter del texto en mayúscula y el resto en minúsculas.

**Ejemplo:**

In [10]:
'hola, amigos.'.capitalize()

'Hola, amigos.'

####  _title()_ 
Convierte al primer caracter de cada palabra en mayúsculas y los otros en minúsculas. 

**Ejemplo:**

In [11]:
'hola, amigos.'.title()

'Hola, Amigos.'

####  _swapcase()_
Transforma los caracteres que están en minúsculas a mayúsculas y los que están en mayúsculas a minúsculas.

**Ejemplo:**

In [12]:
'Hola, amigos.'.swapcase()

'hOLA, AMIGOS.'

#### _casefold()_ 
Transforma el texto en un formato que permita compararlo con otro texto.

**Ejemplo:**

In [13]:
'HoLA, amiGoS.'.casefold()

'hola, amigos.'

### Métodos de ajuste del texto.

####  _center()_

Centra el texto en una cadena del tamaño que se ingresa como argumento. Si se añade un caracter como segundo argumento, se sustituyen los espacios en blanco por dicho caracter.

**Ejemplos:**

In [14]:
'Hola, amigos.'.center(30)

'        Hola, amigos.         '

In [15]:
'Hola, amigos.'.center(30, 'x')

'xxxxxxxxHola, amigos.xxxxxxxxx'

#### _ljust()_
Ajusta el texto a la izquierda dentro de una cadena del tamaño que se ingresa como argumento. Si se añade un caracter como segundo argumento, se sustituyen los espacios en blanco por dicho caracter.

**Ejemplos:**

In [16]:
'Hola, amigos.'.ljust(30)

'Hola, amigos.                 '

In [17]:
'Hola, amigos.'.ljust(30, 'x')

'Hola, amigos.xxxxxxxxxxxxxxxxx'

#### _rjust()_
Ajusta el texto a la derecha dentro de una cadena del tamaño que se ingresa como argumento. Si se añade un caracter como segundo argumento, se sustituyen los espacios en blanco por dicho caracter.

**Ejemplos:**

In [18]:
'Hola, amigos.'.rjust(30)

'                 Hola, amigos.'

In [19]:
'Hola, amigos.'.rjust(30, 'x')

'xxxxxxxxxxxxxxxxxHola, amigos.'

#### _strip()_
En el caso de que el objeto de tipo _str_ contenga un texto que se encuentre entre cierto número de espacios vacíos, este método eliminaría dichos espacios. En caso de que se ingrese un caracter como argumento, se eliminarían los caracteres que encierren al texto.

**Ejemplos:**

In [20]:
'                 Hola, amigos.        '.strip()

'Hola, amigos.'

In [21]:
'xxxxxxxxxxxxxxxxxHola, amigos.xxxxxxxx'.strip('x')

'Hola, amigos.'

#### _lstrip()_
Elimina los espacios vacíos que se encuentran a la izquierda de un texto. En caso de que se ingrese un caracter como argumento, se eliminarán los caracteres correspondientes a la izquierda.

**Ejemplos:**

In [22]:
'                 Hola, amigos.        '.lstrip()

'Hola, amigos.        '

In [23]:
'xxxxxxxxxxxxxxxxxHola, amigos.xxxxxxxx'.lstrip('x')

'Hola, amigos.xxxxxxxx'

#### _rstrip()_
Elimina los espacios vacíos que se encuentran a la derecha de un texto. En caso de que se ingrese un caracter como argumento, se eliminarán los caracteres correspondientes a la derecha.

**Ejemplos:**

In [24]:
'                 Hola, amigos.        '.rstrip()

'                 Hola, amigos.'

In [25]:
'xxxxxxxxxxxxxxxxxHola, amigos.xxxxxxxx'.rstrip('x')

'xxxxxxxxxxxxxxxxxHola, amigos.'

#### _expandtabs()_
Sustituye los tabuladores con espacios en blanco. Por defecto se sustituye cada tabulador con 4 espacios en blanco, pero se puede definir el numero si se ingresa como argumento.

**Ejemplos:**

In [27]:
'Hola\tamigos'

'Hola\tamigos'

In [28]:
print('Hola\tamigos')

Hola	amigos

In [26]:
'Hola\tamigos'.expandtabs()

'Hola    amigos'

In [29]:
'Hola\tamigos'.expandtabs(2)

'Hola  amigos'

In [30]:
'Hola\tamigos'.expandtabs(15)

'Hola           amigos'

#### _zfill()_
Genera una cadena de caracteres del tamaño indicado por el argumento y justifica el texto a la derecha, llenando el resto con ceros.

**Ejemplos:**

In [31]:
'Hola'.zfill(6)

'00Hola'

In [32]:
'504'.zfill(7)

'0000504'

#### _format()_
Este método permite crear un nuevo objeto de tipo _str_ al que se le insertan elementos de forma similar a como lo hace la función _print()_. La sustitución se realiza mediante el usos de llaves ( _{ }_ ). Los elementos a sustituir se ingresan como argumentos separados por comas.

**Ejemplo:**

In [33]:
'Contrato de prestacion de servicios entre {} y {}.'.format("Juan", "Pedro")

'Contrato de prestacion de servicios entre Juan y Pedro.'

Si no se especifica, cada elemento será sustituido de forma sucesiva de izquierda a derecha. Pero también es posible indicar cual elemento sustituir por su índice. Los argumentos entonces son tratados como objetos de tipo _tuple_ o de tipo _dict_.

**Ejemplos:**

In [34]:
'Contrato de prestacion de servicios entre {1} y {0}.'.format("Juan", "Pedro")

'Contrato de prestacion de servicios entre Pedro y Juan.'

In [35]:
'Contrato de servicios entre {comprador} y {vendedor}.'.format(comprador="Juan",
                                                               vendedor="Pedro")

'Contrato de servicios entre Juan y Pedro.'

Este método permite formatear y alinear los elementos a los que sustituye de muchas maneras. 
En el sitio [https://pyformat.info/](https://pyformat.info/) es posible explorar las distintas formas en las que se puede utilizar dicho método.

#### *format\_map()*
Este método es similar a _format()_ con la diferencia de que acepta exclusivamente objetos mapeables, tales como los objetos tipo _dict_.

**Ejemplos:**

In [36]:
'Contrato de servicios entre {comprador} y {vendedor}.'.format_map({'comprador': "Juan",
                                                                    "vendedor":"Pedro"})

'Contrato de servicios entre Juan y Pedro.'

In [37]:
'Contrato de servicios entre {comprador} y {vendedor}.'.format_map(dict(comprador="Juan",
                                                                   vendedor="Pedro"))

'Contrato de servicios entre Juan y Pedro.'

In [38]:
'Contrato de servicios entre {} y {}.'.format_map(("Juan", "Pedro"))

ValueError: Format string contains positional fields

### Métodos de separación y unión.

#### _join()_
Permite concatenar una secuencia de objetos de tipo _str_ agrupados al ser ingresados como un objeto iterable, utilizando el objeto de tipo _str_ como separador.

**Ejemplos:**

In [1]:
", ".join(["Hugo", "Paco", "Luis"])

'Hugo, Paco, Luis'

In [2]:
" + ".join(("1", "2", "3", "4"))

'1 + 2 + 3 + 4'

In [3]:
eval(" + ".join(("1", "2", "3", "4")))

10

In [4]:
', '.join({'nombre':'Juan', 'apellido':'Pérez'})

'nombre, Apellido'

In [5]:
', '.join({'nombre':'Juan', 'apellido':'Pérez'}.items())

TypeError: sequence item 0: expected str instance, tuple found

#### _partition()_
Este método busca de izquierda a derecha el patrón que se ingresa como parámetro dentro del objeto tipo _str_ y al encontrar la primera coincidencia, divide en tres partes al texto. Regresa la parte de la izquierda, el patrón y la parte de la derecha dentro de un objeto tipo _tuple_. En caso de no encontrar coincidencia, el objeto tipo _tuple_ se compondrá del texto original y dos cadenas de caracteres vacías.

**Ejemplos:**

In [6]:
"Hugo, Paco, Luis".partition(", ")

('Hugo', ', ', 'Paco, Luis')

In [7]:
"Hugo, Paco, Luis".partition("+")

('Hugo, Paco, Luis', '', '')

#### _rpartition()_
Este método busca de derecha a izquierda el patrón que se ingresa como parámetro dentro del objeto tipo _str_ y al encontrar la primera coincidencia, divide en tres partes al texto. Regresa la parte de la izquierda, el patrón y la parte de la derecha dentro de un objeto tipo _tuple_. En caso de no encontrar coincidencia, el objeto tipo _tuple_ se compondrá del texto dos cadenas de caracteres vacías y el texto original.

**Ejemplos:**

In [8]:
"Hugo, Paco, Luis".rpartition(", ")

('Hugo, Paco', ', ', 'Luis')

In [9]:
"Hugo, Paco, Luis".rpartition("+")

('', '', 'Hugo, Paco, Luis')

#### _split()_
Este método busca de izquierda a derecha el patrón que se ingresa como parámetro dentro del objeto tipo _str_, identifica a todas las coincidencias y regresa un objeto de tipo _list_ con cada fragmento de texto delimitado por el patrón. En caso de no encontrar al patrón, regresará un objeto de tipo _list_, conteniendo al objeto _str_ original.

**Ejemplos:**

In [10]:
"Hugo, Paco, Luis".split(", ")

['Hugo', 'Paco', 'Luis']

In [11]:
"Hugo, Paco, Luis".split("+")

['Hugo, Paco, Luis']

#### _rsplit()_
Este método busca de derecha a izquierda el patrón que se ingresa como parámetro dentro del objeto tipo _str_, identifica a todas las coincidencias y regresa un objeto de tipo _list_ con cada fragmento de texto delimitado por el patrón. En caso de no encontrar al patrón, regresará un objeto de tipo _list_, conteniendo al texto original.

**Ejemplos: **

In [12]:
"Hugo, Paco, Luis".rsplit(", ")

['Hugo', 'Paco', 'Luis']

In [13]:
"Hugo, Paco, Luis".rsplit("+")

['Hugo, Paco, Luis']

#### _splitlines()_
Método que identifica retornos de línea _"\n"_ y regresa un objeto de tipo _list_ conteniendo cada línea identificada. en caso de no encontrar un retorno de línea, regresará un objeto de tipo _list_ conteniendo a su vez un objeto de tipo _str_ conteniendo al texto original.

**Ejemplo:**

In [14]:
nombres = "Hugo.\nPaco.\nLuis."
print(nombres)

Hugo.
Paco.
Luis.

In [15]:
nombres.splitlines()

['Hugo.', 'Paco.', 'Luis.']

### Métodos de búsqueda y reemplazo.

#### _find()_
Método que busca de izquierda a derecha un patrón que es ingresado como argumento y regresa el índice del primero que encuentra. En caso de no encontrarlo regresará el valor _-1_.

**Ejemplos:**

In [16]:
'Luis, Hugo, Paco, Luis'.find('Paco')

12

In [17]:
'Luis, Hugo, Paco, Luis'.find('Luis')

0

In [18]:
'Luis, Hugo, Paco, Luis'.find('Juan')

-1

#### _rfind()_
Método que busca de derecha a izquierda un patrón que es ingresado como argumento y regresa el índice del primero que encuentra. En caso de no encontrarlo regresará el valor _-1_.

**Ejemplos:**

In [19]:
'Luis, Hugo, Paco, Luis'.rfind('Paco')

12

In [20]:
'Luis, Hugo, Paco, Luis'.rfind('Luis')

18

In [21]:
'Luis, Hugo, Paco, Luis'.rfind('Juan')

-1

#### _index()_
Método que busca de izquierda a derecha un patrón que es ingresado como argumento y regresa el índice del primero que encuentre. En caso de no encontrarlo se generará un mensaje de error.

**Ejemplos:**

In [22]:
'Luis, Hugo, Paco, Luis'.index('Paco')

12

In [23]:
'Luis, Hugo, Paco, Luis'.index('Luis')

0

In [24]:
'Luis, Hugo, Paco, Luis'.index('Juan')

ValueError: substring not found

#### _rindex()_
Método que busca derecha a izquierda un patrón que es ingresado como argumento y regresa el índice del primero que encuentre. En caso de no encontrarlo se generará un mensaje de error de tipo _ValueError_.

**Ejemplos:**

In [25]:
'Luis, Hugo, Paco, Luis'.rindex('Paco')

12

In [26]:
'Luis, Hugo, Paco, Luis'.rindex('Luis')

18

In [27]:
'Luis, Hugo, Paco, Luis'.rindex('Juan')

ValueError: substring not found

#### _replace()_
Método al que se le ingresan un patrón y un texto de sustitución. Regresará un objeto tipo _str_ sustituyendo cada coincidencia. En caso de no encontrar coincidencias, regresará un objeto tipo _str_ con el texto original.

**Ejemplos:**

In [28]:
'Luis, Hugo, Paco, Luis'.replace('Luis', 'Juan Antonio')

'Juan Antonio, Hugo, Paco, Juan Antonio'

In [29]:
'Luis, Hugo, Paco, Luis'.replace('Pedro', 'Juan')

'Luis, Hugo, Paco, Luis'

### Métodos de evaluación.

#### _count()_
Cuenta el número de veces que aparece un patrón ingresado como argumento dentro del texto.

**Ejemplos:**

In [30]:
"Hola, amigos.". count("a")

2

In [31]:
"Hola, amigos.". count("la")

1

In [32]:
"Hola, amigos.". count("z")

0

#### _startswith()_
Evalúa si el patrón ingresado como argumento corresponde al inicio del texto en el objeto de tipo _str_. Regresa _True_ si hay correspondencia y de lo contrario, regresa _False_.

**Ejemplos:**

In [33]:
"Hola, amigos.".startswith("la")

False

In [34]:
"Hola, amigos.". startswith("Hola")

True

#### _endswith()_
Evalúa si el patrón ingresado como argumento corresponde al final del texto en el objeto de tipo _str_. Regresa _True_ si hay correspondencia y de lo contrario, regresa _False_.

**Ejemplos:**

In [35]:
"Hola, amigos.".endswith("Hola")

False

In [36]:
"Hola, amigos.".endswith("gos.")

True

#### _isalnum()_
Evalúa si el texto del objeto tipo _str_ contiene exclusivamente caracteres alfanuméricos.

**Ejemplos: **

In [37]:
"@#%&".isalnum()

False

In [38]:
'Hola 12'.isalnum()

False

In [39]:
"Hola12".isalnum()

True

#### _isalpha()_
Evalúa si el texto del objeto tipo _str_ contiene exclusivamente caracteres alfabéticos (en cualquier alfabeto de Unicode).

**Ejemplos: **

In [40]:
"@#%&".isalpha()

False

In [41]:
'Hola'.isalpha()

True

In [42]:
'Hola.'.isalpha()

False

In [43]:
'Ω'.isalpha()

True

#### _isnumeric()_
Evalúa si el texto del objeto tipo _str_ contiene caracteres exclusivamente con representación numérica.

**Ejemplos:**

In [44]:
'0x1a'.isnumeric()

False

In [45]:
'-22.1'.isnumeric()

False

In [46]:
'23'.isnumeric()

True

In [47]:
'2²'.isnumeric()

True

In [48]:
'½'.isnumeric()

True

#### _isdecimal()_
Evalúa si el texto del objeto tipo _str_ contiene caracteres exclusivamente con representación numérica decimal.

**Ejemplos:**

In [49]:
'0x1a'.isdecimal()

False

In [50]:
'-22.1'.isdecimal()

False

In [51]:
'23'.isdecimal()

True

In [52]:
'2²'.isdecimal()

False

In [53]:
'½'.isdecimal()

False

#### _isdigit()_
Evalúa si el texto del objeto tipo _str_ contiene caracteres exclusivamente que representen dígitos.

**Ejemplos:**

In [54]:
'0x1a'.isdigit()

False

In [55]:
'-22.1'.isdigit()

False

In [56]:
'23'.isdigit()

True

In [57]:
'2²'.isdigit()

True

In [58]:
'½'.isdigit()

False

#### _islower()_
Evalúa si los caracteres alfabéticos contenidos en el texto están solamente en minúsculas.

**Ejemplos:**

In [59]:
'¡hola, amigos!'.islower()

True

In [60]:
'¡Hola, amigos!'.islower()

False

#### _isupper()_
Evalúa si los caracteres alfabéticos contenidos en el texto están solamente en mayúsculas.

**Ejemplos:**

In [61]:
'¡HOLA, AMIGOS!'.isupper()

True

In [62]:
'¡Hola, amigos!'.isupper()

False

#### _istitle()_
Evalúa si cada palabra del texto contenido en el objeto tipo _str_ comience con mayúsculas y el resto sean minúsculas.

**Ejemplos:**

In [63]:
'¡HOLA, AMIGOS!'.istitle()

False

In [64]:
'¡Hola, amigos!'.istitle()

False

In [65]:
'¡Hola, Amigos!'.istitle()

True

In [66]:
'¡HOla, Amigos!'.istitle()

False

#### _isprintable()_
Evalúa si el texto contenido en le objeto tipo _str_ incluye sólo caracteres imprimibles.

**Ejemplos:**

In [67]:
nombres = "Hugo.\nPaco.\nLuis."
print(nombres)

Hugo.
Paco.
Luis.

In [68]:
nombres.isprintable()

False

In [69]:
nombres = "Hugo.\tPaco.\tLuis."
print(nombres)

Hugo.	Paco.	Luis.

In [70]:
nombres.isprintable()

False

In [71]:
'Hugo, Paco, Luis.'.isprintable()

True

#### _isspace()_
Evalúa si el objeto tipo _str_ está compuesto exclusivamente de espacios.

**Ejemplos:**

In [72]:
''.isspace()

False

In [73]:
'     '.isspace()

True

In [74]:
'Hola, mundo.'.isspace()

False

#### _isidentifier()_
Evalúa si el objeto tipo _str_ cumple con las características de un nombre.

**Ejemplos:**

In [75]:
'Nombre'.isidentifier()

True

In [76]:
'!1nombre'.isidentifier()

False

In [77]:
'Hola, mundo.'.isidentifier()

False

### Métodos de mapeo de caracteres.
Es posible generar tablas de caracteres, los cuales puedan sustituir a unos por otros. Este tipo de sustitución se hace generalmente cuando se debe interactuar con aplicaciones que no aceptan caracteres especiales.

#### _maketrans()_
Este método permite crear una tabla de caracteres, la cual consiste en un diccionario que relaciona a un par de caracteres por su número correspondiente en la codificación.

**Ejemplo:**

In [78]:
trans = "".maketrans("áäàéëèíïìóöòúüù", "aaaeeeiiiooouuu")
trans

{225: 97,
 228: 97,
 224: 97,
 233: 101,
 235: 101,
 232: 101,
 237: 105,
 239: 105,
 236: 105,
 243: 111,
 246: 111,
 242: 111,
 250: 117,
 252: 117,
 249: 117}

#### _translate()_
Este método sustituye los caracteres a partir de una tabla de caracteres.

**Ejemplo:**

In [79]:
trans = ''.maketrans("áäàéëèíïìóöòúüù", "aaaeeeiiiooouuu")
'Hólá amïgòs. ¿Cómö éstán?'.translate(trans)

'Hola amigos. ¿Como estan?'

In [80]:
trans = ''.maketrans('oieastg', '0134579')
"Hola, amigos. ¿Como estan?".translate(trans)

'H0l4, 4m1905. ¿C0m0 3574n?'

### Métodos de codificación.

Como ya se ha mencionado, Python 3 utiliza la codificación de caracteres UTF-8, un subconjunto de la especificación de Unicode; mientras que Python 2 utiliza la codificación ASCII. Los codificaciones estándar soportadas por Python 3 pueden ser consultadas desde [esta liga](https://docs.python.org/3/library/codecs.html#standard-encodings).

Es posible cambiar el tipo de codificación del texto contenido en un objeto tipo _str_ a otra codificación. 

#### _encode()_
Este método permite transformar el contenido de un objeto _str_ de una codificación en otra. El resultado de la transformación es un objetos tipo _bytes_. El formato de codificación se define mediante la asignación del valor de dicha codificación  al identificador _encoding_. El valor por defecto de _encoding_ es _"utf-8"_.

Es común que no todos los caracteres tengan una correspondencia de una codificación a otra, por lo que se pueden generar errores de conversión. Se pueden definir cuatro formas de gestionar estos errores ingresando el valor de la forma relacionado con el identificador _errors_. 

* _'strict'_, el cual emite un error de codificacion. Si no se indica, esta es la forma por defecto de gestionar los errores de codificación.
* _'ignore'_, el cual ignora el caracter en cuestión y prosigue con el siguiente.
* _'replace'_ el cual sustituye al caracter en cuestión por un signo de interrogación ( _?_).
* _'xmlcharrefreplace'_ el cual sustituye el caracter por el valor correspondiente a su [valor de entidad de caracter de XML](https://es.wikipedia.org/wiki/Anexo:Referencias_a_entidades_de_caracteres_XML_y_HTML). 

**Ejemplos:**

In [81]:
'Holåé'.encode(encoding="ascii", errors='ignore')

b'Hol'

In [82]:
'Holåé'.encode(encoding="ascii", errors='replace')

b'Hol??'

In [83]:
'Holåé'.encode(encoding="ascii", errors='xmlcharrefreplace')

b'Hol&#229;&#233;'

In [ ]:
'Holåé'.encode(encoding="ascii", errors='strict')

In [90]:
'Holåé'.encode(encoding="Latin-1", errors='strict')

b'Hol\xe5\xe9'

## Objetos tipo _bytes_.

Además de los objetos de tipo _str_ existen diversos tipos de datos que también pueden contener caracteres. 

Son una sucesión ordenada de valores que representan a un caracter conforme a su número correspondiente en el [código ASCII](http://www.asciitable.com/) y se definen anteponiendo la letra _b_ a los apóstrofes o comillas.
```
b'<texto>'
b"<texto>" 
```

Cuando se utiliza un ojbeto de tipo _bytes_ en la función _print()_, no despliega un texto sino el valor del objeto.

**Ejemplos:**

In [84]:
palabra = b"Hola"

In [85]:
type(palabra)

bytes

In [86]:
print(palabra)

b'Hola'

In [87]:
palabra[0]

72

In [88]:
palabra[2:4]

b'la'

In [89]:
palabra[1] = b'm'

TypeError: 'bytes' object does not support item assignment

In [91]:
str(b'Hola')

"b'Hola'"

### Transformaciones entre objetos _str_ y _bytes_.
Para transformar un objeto de tipo _str_ a _bytes_ se utiliza la función _bytes()_, ingresando al objeto como primer argumento y posteriormente el valor al que corresponde la codificación que se aplicará. 
En el caso de querer transformar un objeto _bytes_ a _str_ se utiliza la función _str()_ ingresando al objeto como primer argumento y posteriormente el valor al que corresponde la codificación que se aplicará.

In [94]:
bytes('hola', "utf-8")

b'hola'

In [93]:
print(bytes('hola', "utf-8"))

b'hola'

In [95]:
str(b'hola'[1:3], 'ascii')

'ol'

### Métodos de los objetos tipo _bytes_.

Los objetos de tipo _bytes_ comparten los siguientes métodos con los de tipo _str_: 
* _capitalize()_
* _center()_
* _count()_
* _endswith()_
* _expandtabs()_
* _find()_
* _index()_
* _isalnum()_
* _isalpha()_
* _isdigit()_
* _islower()_
* _isspace()_
* _istitle()_
* _isupper()_
* _join()_
* _ljust()_
* _lower()_
* _lstrip()_
* _maketrans()_
* _partition()_
* _replace()_
* _rfind()_
* _rindex()_
* _rjust()_
* _rpartition()_
* _rsplit()_
* _rstrip()_
* _split()_
* _splitlines()_
* _startswith()_
* _strip()_
* _swapcase()_
* _title()_
* _translate()_
* _upper()_
* _zfill()_

#### _decode()_
Este método funciona de manera inversa al método _code()_ de los objetos tipo str. 
Se ingresan como argumentos el valor de codficación ligado al identificador _encoding_ y el valor de manejo de errores de codificación ligado al identificador _errors_.

**Ejemplo:**

In [96]:
b'Hola,'.decode(encoding="utf-8")

'Hola,'

#### _hex()_
Regresa un objeto tipo _str_ que contiene la representación en hexadecimal de cada elemento del objeto tipo _bytes_.

**Ejemplo:**

In [97]:
b'Hola'.hex()

'486f6c61'

#### _fromhex()_
Regresa un objeto tipo _bytes_ a partir de un objeto _str_ que contiene la representación en hexadecimal de uno o más caracteres ASCII.

**Ejemplo:**

In [98]:
b''.fromhex('486f6c61')

b'Hola'

## Funciones útiles con los objetos tipo  _str_ y tipo _bytes_.

### La función _len()_.
La función _len()_ devuelve el número de caracteres contenidos en un objeto tipo _str_ o tipo _bytes_ mediante la siguiente sintaxis:
```
len(<objeto>)
```
**Ejemplo:**

In [99]:
len(b'Hola')

4

### La función _max()_.
La función _max()_ devuelve el elemento de mayor valor contenido en un objeto de tipo _bytes_ o _str_ mediante la siguiente sintaxis:
```
max(<objeto>)
```

**Ejemplo:**

In [100]:
max('Hola')

'o'

In [101]:
max(b'Hola')

111

### La función _min()_.
La función _min()_ devuelve el elemento de mayor valor contenido en un objeto de tipo _bytes_ o _str_ mediante la siguiente sintaxis:
```
min(<objeto>)
```

**Ejemplos:**

In [102]:
min(b'Hola')

72

In [103]:
min('Hola')

'H'

### La función _sum()_ sólo para tipo *bytes*.
La función _sum()_ devuelve la suma de los valores contenido en un objeto de tipo _bytes_ mediante la siguiente sintaxis:
```
sum(<objeto>)
```

**Ejemplos:**

In [104]:
sum(b'Hola')

388

In [105]:
sum('Hola')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Iteraciones con _for_...*in* para objetos tipo _str_ y tipo _bytes_.

Tanto para los objetos tipo _str_ como para los objetos tipo _bytes_, cada caracter se vuelve un elemento iterable.

**Ejemplos:**

In [106]:
for letra in "Hola":
    print(letra)

H
o
l
a

In [107]:
for caracter in b"Hola":
    print(caracter)

72
111
108
97

## Objetos tipo  _unicode_ en Python 2.

Python 2 incluye un tipo _unicode_, el cual se identifica con una u, previa a los apóstrofes o comillas. Python 3 no incluye a este tipo de dato.

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2019.</p>